.container {
    width: 100%;
}

.content {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-transform: none;
}

.title {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    margin-bottom: 4px;
    text-transform: none;
}

.creator {
    color: #767676;
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 4px;
    text-transform: none;
}

.pronunciation {
    color: #f60c36;
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}
