.avatar-container {
    display: inline-flex;
    flex-direction: row;
    margin-right: 10px;
}

.avatar {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.container {
    background-color: var(--secondary-color);
    padding: 12px;
    display: flex;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.flag {
    color: #000;
    text-align: center;
    font-family: 'Twemoji Country Flags';
    font-size: 15.58px;
    font-weight: 100;
    line-height: 6.651px;
}

.flag-container {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    bottom: 10px;
    filter: drop-shadow(0px 1.332829475402832px 4.6649041175842285px rgba(0, 0, 0, 0.25));
    display: flex;
    height: 30px;
    justify-content: center;
    left: 10px;
    position: absolute;
    width: 30px;
}

.name {
    color: black;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    text-align: start;
    margin: 0;
    text-transform: capitalize;
}

.informations {
    color: black;
    font-family: 'Maven Pro';
    font-size: 13px;
    font-weight: 400;
    text-align: start;
    margin: 8px 0;
    text-transform: capitalize;
}
