.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.goalItem {
    background-color: #f2f4f7;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.customLearningGoalContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    padding: 20px;
}

.goalTitle {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
}

.goalDescription {
    margin: 5px 0;
}

.image {
    height: 50px;
    width: 50px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
    min-width: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
