.container {
    background-color: var(--secondary-color);
    padding: 20px 16px 20px 18px;
    display: flex;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.avatar-container {
    display: inline-flex;
    flex-direction: row;
    margin-right: 10px;
    position: relative;
    .avatar {
        border-radius: 50%;
        height: 90px;
        width: 90px;
        object-fit: cover;
    }
    .flag-container {
        align-items: center;
        background-color: white;
        border-radius: 50%;
        bottom: 0;
        filter: drop-shadow(0px 1.332829475402832px 4.6649041175842285px rgba(0, 0, 0, 0.25));
        display: flex;
        height: 30px;
        justify-content: center;
        left: -8px;
        position: absolute;
        width: 30px;
        .flag {
            color: #000;
            text-align: center;
            font-family: 'Twemoji Country Flags';
            font-size: 15.58px;
            font-style: italic;
            font-weight: 100;
            line-height: 6.651px;
        }
    }
}

.informationsContainer {
    width: 100%;
    .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        color: black;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 700;
        text-align: start;
        text-transform: capitalize;
    }

    .informations {
        color: black;
        font-family: 'Maven Pro';
        font-size: 13px;
        font-weight: 400;
        text-align: start;
        margin: 8px 0;
        text-transform: capitalize;
    }
}
