/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.avatar {
    border-radius: 50%;
    height: 125px;
    object-fit: cover;
    width: 125px;
}

.bubble {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    font-family: 'Twemoji Country Flags';
    font-size: 25px;
    height: 44px;
    left: -6px;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 44px;
}

.card,
.card1,
.card2 {
    border-radius: 12px;
    height: 250px;
    padding: 20px;
    width: 200px;
    z-index: 1;
}

.card {
    background: var(--secondary-dark-color);
    z-index: 2;
}

.card1 {
    background: var(--secondary-color);
    position: absolute;
    transform: rotate(-6deg);
}

.card2 {
    background: white;
    position: absolute;
    transform: rotate(-12deg);
}

.container {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}

.name,
.university-name {
    color: #fff;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
}

.name {
    font-weight: 500;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: auto;
}

.university-name {
    font-weight: 400;
}
