/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.container {
    background-color: var(--secondary-color);
    padding: 20px 16px 20px 18px;
    display: flex;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.avatar-container {
    display: inline-flex;
    flex-direction: row;
    margin-right: 10px;
    position: relative;
    .avatar {
        border-radius: 50%;
        height: 90px;
        width: 90px;
        object-fit: cover;
    }
    .flag-container {
        align-items: center;
        background-color: white;
        border-radius: 50%;
        bottom: 0;
        filter: drop-shadow(0px 1.332829475402832px 4.6649041175842285px rgba(0, 0, 0, 0.25));
        display: flex;
        height: 30px;
        justify-content: center;
        left: -8px;
        position: absolute;
        width: 30px;
        .flag {
            color: #000;
            text-align: center;
            font-family: 'Twemoji Country Flags';
            font-size: 15.58px;
            font-style: italic;
            font-weight: 100;
            line-height: 6.651px;
        }
    }
}

.informationsContainer {
    width: 100%;
    .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        color: black;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 700;
        text-align: start;
        text-transform: capitalize;
    }

    .informations {
        color: black;
        font-family: 'Maven Pro';
        font-size: 13px;
        font-weight: 400;
        text-align: start;
        margin: 8px 0;
        text-transform: capitalize;
    }
}
