.back-button {
    background: none;
}

.container {
    align-items: right;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 1;
}

.actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 16px 26px 34px 16px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
}

.action-button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

@media (min-width: 768px) {
    .container {
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
        height: 80%;
        width: 640px;
    }

    .content {
        padding: 0px 60px 40px !important;
    }
    .image {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5);
        z-index: 1;
    }
}
