.avatar {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.container {
    background: none;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container:focus-visible {
    outline: none;
    box-shadow: 0 0 3pt 2pt var(--primary-color);
}

.flag {
    color: #000;
    text-align: center;
    font-family: 'Twemoji Country Flags';
    font-size: 15.58px;
    font-style: italic;
    font-weight: 100;
    line-height: 6.651px;
}

.flag-container {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    bottom: 20px;
    filter: drop-shadow(0px 1.332829475402832px 4.6649041175842285px rgba(0, 0, 0, 0.25));
    display: flex;
    height: 30px;
    justify-content: center;
    left: -10px;
    position: absolute;
    width: 30px;
}

.name {
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.755px;
    text-align: center;
}

.profile {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (min-width: 768px) {
    .avatar {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        object-fit: cover;
    }

    .flag {
        color: #000;
        font-family: 'Maven Pro';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .flag-container {
        bottom: 20px;
        height: 40px;
        width: 40px;
    }
}
