.container {
    align-items: center;
    background-color: #f2f4f7;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 15px;
    width: 100%;
}

.flag {
    color: #000;
    font-family: 'Twemoji Country Flags', 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.flag-container {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 12px;
    width: 40px;
}

.left-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.title {
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
