.back-button {
    background: none;
}

.content {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    padding: 0px 20px;
    overflow-y: auto;
    z-index: 2;
}

.category {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-top: 30px;
}

.interests {
    display: flex;
    flex-wrap: wrap;
}

.interest {
    background: black;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 5px;
    padding: 4px 16px;
}

.separator {
    background-color: rgba(0, 0, 0, 0.25);
    height: 1px;
    min-height: 1px;
    margin: 30px 0px;
    width: 100%;
}

.text-container {
    background-color: white;
    border-radius: 5px;
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 4px;
    padding: 10px;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
}

.action-button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}
