apiVersion: v1
kind: ConfigMap
metadata:
  name: ulep-mongo-postinstall-configmap
data:
  mongo-init.js: |-
    const rootUsername = "root";
    const rootPassword = "!ChangeMe!";
    const database = "ulep";

    // Connect to the admin database
    db = new Mongo().getDB("admin");

    // Create root user
    db.createUser({
        user: rootUsername,
        pwd: rootPassword,
        roles: [
            { role: "userAdminAnyDatabase", db: "admin" },
            { role: "readWrite", db: database },
        ],
    });

    // Switch to application database
    db = new Mongo().getDB(database);

    // Authenticate as root user
    db.auth(rootUsername,rootPassword);

    // Create application user
    db.createUser({
        user: rootUsername,
        pwd: rootPassword,
        roles: [{ role: "readWrite", db: database }],
    });
