body {
    margin: 0;
    font-family:
        'Twemoji Country Flags',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Twemoji Country Flags', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tab {
    margin: 16px;
}
