# Project
/.env
algorithm

# System Files
.DS_Store
Thumbs.db

# IDE - VSCode
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
values.yaml
values-local.yaml
helm/project/old

# Docker data
docker/minio/.minio.sys
values-local.yaml

docker/minio/*

#helm values
*.values.yaml

.codegpt