# Project
/.env
algorithm

# System Files
.DS_Store
Thumbs.db

# IDE - VSCode
*.code-workspace
/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
values.yaml
helm/project/old

# Docker data
docker/minio/.minio.sys
helm/weblate/values-local.yaml
helm/project/charts/ulep-user-provider/values-local.yaml
helm/project/values-local.yaml
helm/temp.yaml
