#
#   Copyright ou © ou Copr. Université de Lorraine, (2025)
#
#   Direction du Numérique de l'Université de Lorraine - SIED
#
#   Ce logiciel est un programme informatique servant à rendre accessible
#   sur mobile et sur internet l'application ULEP (University Language
#   Exchange Programme) aux étudiants et aux personnels des universités
#   parties prenantes.
#
#   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
#   et respectant les principes de diffusion des logiciels libres. Vous pouvez
#   utiliser, modifier et/ou redistribuer ce programme sous les conditions
#   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
#   sur le site "http://cecill.info".
#
#   En contrepartie de l'accessibilité au code source et des droits de copie,
#   de modification et de redistribution accordés par cette licence, il n'est
#   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
#   seule une responsabilité restreinte pèse sur l'auteur du programme, le
#   titulaire des droits patrimoniaux et les concédants successifs.
#
#   À cet égard, l'attention de l'utilisateur est attirée sur les risques
#   associés au chargement, à l'utilisation, à la modification et/ou au
#   développement et à la reproduction du logiciel par l'utilisateur étant
#   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
#   manipuler et qui le réserve donc à des développeurs et des professionnels
#   avertis possédant des connaissances informatiques approfondies. Les
#   utilisateurs sont donc invités à charger et à tester l'adéquation du
#   logiciel à leurs besoins dans des conditions permettant d'assurer la
#   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
#   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
#
#   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
#   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
#   termes.
#

version: "3.4"

services:
  api:
    build:
      context: ./api
      target: api_dev
    volumes:
      - ./api:/srv/app
    ports:
      - ${API_PORT:-3002}:3000
    environment:
      SMTP_HOST: mailer
      SMTP_PORT: 1025
      SMTP_SENDER: test@thetribe.io
    tty: true
    stdin_open: true

  chat:
    build:
      context: ./chat
      target: chat_dev
    volumes:
      - ./chat:/srv/app
    ports:
      - ${CHAT_PORT:-3003}:3000
      - ${CHAT_SOCKET_PORT:-5001}:5000

  redis:
    ports:
      - ${REDIS_PORT:-6379}:6379

  admin:
    build:
      context: ./admin
      target: admin_dev
    volumes:
      - ./admin:/srv/app
    ports:
      - ${ADMIN_PORT:-3001}:3000

  mongo:
    ports:
      - 27017:27017

  database:
    ports:
      - 5432:5432

  auth:
    command: "start-dev --import-realm  --spi-theme-cache-themes=false --spi-theme-cache-templates=false "
    ports:
      - ${AUTH_PORT:-8080}:8080

  minio:
    ports:
      - ${MINIO_PORT:-9000}:9000
      - ${MINIO_CONSOLE_PORT:-9001}:9001

  mailer:
    image: schickling/mailcatcher
    ports:
      - "1025:1025"
      - "1080:1080"
