#
#   Copyright ou © ou Copr. Université de Lorraine, (2025)
#
#   Direction du Numérique de l'Université de Lorraine - SIED
#
#   Ce logiciel est un programme informatique servant à rendre accessible
#   sur mobile et sur internet l'application ULEP (University Language
#   Exchange Programme) aux étudiants et aux personnels des universités
#   parties prenantes.
#
#   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
#   et respectant les principes de diffusion des logiciels libres. Vous pouvez
#   utiliser, modifier et/ou redistribuer ce programme sous les conditions
#   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
#   sur le site "http://cecill.info".
#
#   En contrepartie de l'accessibilité au code source et des droits de copie,
#   de modification et de redistribution accordés par cette licence, il n'est
#   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
#   seule une responsabilité restreinte pèse sur l'auteur du programme, le
#   titulaire des droits patrimoniaux et les concédants successifs.
#
#   À cet égard, l'attention de l'utilisateur est attirée sur les risques
#   associés au chargement, à l'utilisation, à la modification et/ou au
#   développement et à la reproduction du logiciel par l'utilisateur étant
#   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
#   manipuler et qui le réserve donc à des développeurs et des professionnels
#   avertis possédant des connaissances informatiques approfondies. Les
#   utilisateurs sont donc invités à charger et à tester l'adéquation du
#   logiciel à leurs besoins dans des conditions permettant d'assurer la
#   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
#   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
#
#   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
#   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
#   termes.
#

version: '3.4'

services:
  api:
    build:
      context: ./api
      target: api_prod
    depends_on:
      database:
        condition: service_healthy
    restart: unless-stopped
    environment:
      ADMIN_URL: ${ADMIN_URL:-http://0.0.0.0:3001}
      APP_URL: ${APP_URL:-http://0.0.0.0:5173}
      CHAT_URL: ${CHAT_URL:-http://chat:3000}
      LOG_LEVEL: ${LOG_LEVEL:-debug} # verbose, debug, log, warn or error
      DEFAULT_TRANSLATION_LANGUAGE: ${DEFAULT_TRANSLATION_LANGUAGE:-fr}
      WEB_SERVICE_LOGOUT_TOKEN: ${WEB_SERVICE_LOGOUT_TOKEN:-eOWOG8iKOOuJdN3KE6bN49BuApmmtAOD}
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-!ChangeMe!}@database:5432/${POSTGRES_DB:-ulep}?schema=public&connection_limit=1
      KEYCLOAK_BASE_URL: ${KEYCLOAK_BASE_URL:-http://auth:8080}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:-etandem}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD:-!ChangeMe!}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID:-api}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET:-bN49BuApmmtAODeOWOG8iKOOuJdN3KE6}
      KEYCLOAK_ADMIN_ROLE_NAME: ${KEYCLOAK_ADMIN_ROLE_NAME:-admin}
      S3_URL: ${S3_URL:-http://minio:9000}
      S3_REGION: ${S3_REGION:-eu-east-1}
      S3_ACCESS_KEY: ${MINIO_USER:-minio}
      S3_ACCESS_SECRET: ${MINIO_PASSWORD:-!ChangeMe!}
      I18N_MINIO_URL: ${I18N_MINIO_URL:-https://minio-api.ulep.thestaging.io/i18n}
      CONNECTOR_URL: ${CONNECTOR_URL:-}
      CONNECTOR_TOKEN: ${CONNECTOR_TOKEN:-}
      EMAIL_ASSETS_BUCKET: ${EMAIL_ASSETS_BUCKET:-assets}
      EMAIL_TRANSLATIONS_COMPONENT: ${EMAIL_TRANSLATIONS_COMPONENT:-emails}
      EMAIL_ASSETS_PUBLIC_ENDPOINT: ${EMAIL_ASSETS_PUBLIC_ENDPOINT:-http://0.0.0.0:9000}
      NOTIFICATION_ASSETS_BUCKET: ${NOTIFICATION_ASSETS_BUCKET:-assets}
      NOTIFICATION_TRANSLATIONS_COMPONENT: ${NOTIFICATION_TRANSLATIONS_COMPONENT:-notifications}
      NOTIFICATION_ASSETS_PUBLIC_ENDPOINT: ${NOTIFICATION_ASSETS_PUBLIC_ENDPOINT:-http://0.0.0.0:9000}
      APP_LINK_APPLE_STORE: ${APP_LINK_APPLE_STORE:-http://apple-store.fr/etandem}
      APP_LINK_PLAY_STORE: ${APP_LINK_PLAY_STORE:-http://play-store.fr/etandem}
      SMTP_DISABLE_BOOT_VERIFICATION: ${SMTP_DISABLE_BOOT_VERIFICATION:-true}
      SMTP_HOST: ${SMTP_HOST:-mailer}
      SMTP_PORT: ${SMTP_PORT:-1025}
      SMTP_SECURE: ${SMTP_SECURE:-false}
      SMTP_IGNORE_TLS: ${SMTP_IGNORE_TLS:-true}
      SMTP_SENDER: ${SMTP_SENDER:-test@ulep.fr}
      FIREBASE_PROJECT_ID: ${FIREBASE_PROJECT_ID:-}
      FIREBASE_PRIVATE_KEY: ${FIREBASE_PRIVATE_KEY:-}
      FIREBASE_CLIENT_EMAIL: ${FIREBASE_CLIENT_EMAIL:-}
      FIREBASE_PARALLEL_LIMIT: ${FIREBASE_PARALLEL_LIMIT:-3}
      SENTRY_DSN: ${API_SENTRY_DSN:-}
      CANCEL_TRESHOLD_IN_MINUTES: ${CANCEL_TRESHOLD_IN_MINUTES:-15}
      SIGNED_URL_EXPIRATION_IN_SECONDS: ${SIGNED_URL_EXPIRATION_IN_SECONDS:-600}

  admin:
    build:
      context: ./admin
      target: admin_prod
    depends_on:
      - api
    environment:
      WDS_SOCKET_PORT: 0

  auth:
    image: quay.io/keycloak/keycloak:26.0
    depends_on:
      - database
    volumes:
      - ./docker/keycloak/providers:/opt/keycloak/providers
      - ./docker/keycloak/realms:/opt/keycloak/data/import
      - ./docker/keycloak/themes:/opt/keycloak/themes
    command: start --import-realm
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_USER:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD:-!ChangeMe!}
      KC_DB: postgres
      KC_DB_USERNAME: ${POSTGRES_USER:-postgres}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      KC_DB_URL: jdbc:postgresql://database:5432/${POSTGRES_DB:-ulep}
      KC_DB_SCHEMA: keycloak
      KC_HOSTNAME_URL: ${KEYCLOAK_BASE_URL:-http://0.0.0.0:8080}
      KC_HOSTNAME_ADMIN_URL: ${KEYCLOAK_BASE_URL:-http://0.0.0.0:8080}

  chat:
    build:
      context: ./chat
      target: chat_prod
    depends_on:
      - mongo
      - redis
    restart: unless-stopped
    environment:
      ADMIN_URL: ${ADMIN_URL:-http://0.0.0.0:3001}
      APP_URL: ${APP_URL:-http://0.0.0.0:5173}
      API_URL: ${API_URL:-http://api:3000}
      LOG_LEVEL: ${LOG_LEVEL:-debug} # verbose, debug, log, warn or error
      DATABASE_URL: ${DATABASE_URL:-mongodb://${MONGODB_ROOT_USER:-ulep}:${MONGODB_ROOT_PASSWORD:-!ChangeMe!}@mongo:27017/${MONGODB_DATABASE:-ulep}?authSource=admin&replicaSet=rs0}
      KEYCLOAK_BASE_URL: ${KEYCLOAK_BASE_URL:-http://auth:8080}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:-etandem}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD:-!ChangeMe!}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID:-api}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET:-bN49BuApmmtAODeOWOG8iKOOuJdN3KE6}
      S3_URL: ${S3_URL:-http://minio:9000}
      S3_REGION: ${S3_REGION:-eu-east-1}
      S3_ACCESS_KEY: ${MINIO_USER:-minio}
      S3_ACCESS_SECRET: ${MINIO_PASSWORD:-!ChangeMe!}
      SENTRY_DSN: ${CHAT_SENTRY_DSN:-}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379}

  redis:
    image: redis:latest
    volumes:
      - redis_data:/data

  mongo:
    image: mongo:7-jammy
    command:
      ['mongod', '--replSet', 'rs0', '--auth', '--keyFile', '/etc/keyfile.key']
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-!ChangeMe!}
    volumes:
      - chat_data:/data/db
      - ./docker/database/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
      - ./docker/database/keyfile.key:/etc/keyfile.key.devel
    entrypoint:
      - bash
      - -c
      - |
        cp /etc/keyfile.key.devel /etc/keyfile.key
        chmod 400 /etc/keyfile.key
        chown 999:999 /etc/keyfile.key
        exec docker-entrypoint.sh $$@

  init-replica:
    image: mongo:7-jammy
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-!ChangeMe!}
    depends_on:
      - mongo
    entrypoint: >
      bash -c "
      sleep 10;
      echo 'rs.initiate({_id: \"rs0\", members: [{ _id: 0, host: \"mongo:27017\" }]})' | mongosh --host mongo --authenticationDatabase admin -u root -p ${MONGO_INITDB_ROOT_PASSWORD};
      "

  database:
    image: postgres:${POSTGRES_VERSION:-14}-alpine
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 10s
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-ulep}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
    volumes:
      - ./docker/database/db.sql:/docker-entrypoint-initdb.d/db.sql
      - db_data:/var/lib/postgresql/data
      # you may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/database/data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    command: server /data/minio --console-address :9001
    environment:
      MINIO_ROOT_USER: ${MINIO_USER:-minio}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD:-!ChangeMe!}
    volumes:
      - ./docker/minio:/data/minio

    # weblate:
    #   image: weblate/weblate:latest
    #   depends_on:
    #     - database
    #   ports:
    #     - 8999:8080
    #   environment:
    #     WEBLATE_SITE_DOMAIN: ${DOMAIN_NAME:-localhost}
    #     WEBLATE_ADMIN_NAME: ${WEBLATE_USER:-admin}
    #     WEBLATE_ADMIN_PASSWORD: ${WEBLATE_PASSWORD:-!ChangeMe!}
    #     POSTGRES_USER: ${POSTGRES_USER:-postgres}
    #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
    #     POSTGRES_HOST: database
    #     POSTGRES_PORT: 5432
    #     POSTGRES_DATABASE: ${WEBLATE_DB:-weblate} # ? TODO use custom schema

volumes:
  db_data:
  chat_data:
  redis_data:
