version: "3.4"

services:
  api:
    build:
      context: ./api
      target: prod
    depends_on:
      - database
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-!ChangeMe!}@database:5432/${POSTGRES_DB:-postgres}?schema=public
      KEYCLOAK_BASE_URL: ${KEYCLOAK_BASE_URL:-http://auth:8080}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:-etandem}
      
  auth:
    image: quay.io/keycloak/keycloak:latest
    depends_on:
        - database
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_USER:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD:-!ChangeMe!}
      KC_DB: postgres
      KC_DB_USERNAME: ${POSTGRES_USER:-postgres}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      KC_DB_URL: jdbc:postgresql://database:5432/${POSTGRES_DB:-postgres}
      KC_DB_SCHEMA: keycloak
    
  database:
    image: postgres:${POSTGRES_VERSION:-14}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
    volumes:
      - ./docker/database/db.sql:/docker-entrypoint-initdb.d/db.sql
      - db_data:/var/lib/postgresql/data
      # you may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/database/data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    command: server /data/minio/ --console-address :9001
    environment:
      MINIO_ROOT_USER: ${MINIO_USER:-minio}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD:-!ChangeMe!}

  # weblate:
  #   image: weblate/weblate:latest
  #   depends_on:
  #     - database
  #   ports:
  #     - 8999:8080
  #   environment:
  #     WEBLATE_SITE_DOMAIN: ${DOMAIN_NAME:-localhost}
  #     WEBLATE_ADMIN_NAME: ${WEBLATE_USER:-admin}
  #     WEBLATE_ADMIN_PASSWORD: ${WEBLATE_PASSWORD:-!ChangeMe!}
  #     POSTGRES_USER: ${POSTGRES_USER:-postgres}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
  #     POSTGRES_HOST: database
  #     POSTGRES_PORT: 5432
  #     POSTGRES_DATABASE: ${WEBLATE_DB:-weblate} # ? TODO use custom schema
    
volumes:
  db_data: