version: '3.4'

services:
  api:
    build:
      context: ./api
      target: api_prod
    depends_on:
      - database
    restart: unless-stopped
    environment:
      ADMIN_URL: ${ADMIN_URL:-http://0.0.0.0:3001}
      APP_URL: ${APP_URL:-http://0.0.0.0:5173}
      CHAT_URL: ${CHAT_URL:-http://chat:3000}
      LOG_LEVEL: ${LOG_LEVEL:-debug} # verbose, debug, log, warn or error
      DEFAULT_TRANSLATION_LANGUAGE: ${DEFAULT_TRANSLATION_LANGUAGE:-fr}
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-!ChangeMe!}@database:5432/${POSTGRES_DB:-ulep}?schema=public&connection_limit=1
      KEYCLOAK_BASE_URL: ${KEYCLOAK_BASE_URL:-http://auth:8080}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:-etandem}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD:-!ChangeMe!}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID:-api}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET:-bN49BuApmmtAODeOWOG8iKOOuJdN3KE6}
      KEYCLOAK_ADMIN_ROLE_NAME: ${KEYCLOAK_ADMIN_ROLE_NAME:-admin}
      S3_URL: ${S3_URL:-http://minio:9000}
      S3_REGION: ${S3_REGION:-eu-east-1}
      S3_ACCESS_KEY: ${MINIO_USER:-minio}
      S3_ACCESS_SECRET: ${MINIO_PASSWORD:-!ChangeMe!}
      I18N_MINIO_URL: ${I18N_MINIO_URL:-https://minio-api.ulep.thestaging.io/i18n}
      CONNECTOR_URL: ${CONNECTOR_URL:-}
      CONNECTOR_TOKEN: ${CONNECTOR_TOKEN:-}
      EMAIL_ASSETS_BUCKET: ${EMAIL_ASSETS_BUCKET:-assets}
      EMAIL_TRANSLATIONS_COMPONENT: ${EMAIL_TRANSLATIONS_COMPONENT:-emails}
      EMAIL_ASSETS_PUBLIC_ENDPOINT: ${EMAIL_ASSETS_PUBLIC_ENDPOINT:-http://0.0.0.0:9000}
      NOTIFICATION_ASSETS_BUCKET: ${NOTIFICATION_ASSETS_BUCKET:-assets}
      NOTIFICATION_TRANSLATIONS_COMPONENT: ${NOTIFICATION_TRANSLATIONS_COMPONENT:-notifications}
      NOTIFICATION_ASSETS_PUBLIC_ENDPOINT: ${NOTIFICATION_ASSETS_PUBLIC_ENDPOINT:-http://0.0.0.0:9000}
      APP_LINK_APPLE_STORE: ${APP_LINK_APPLE_STORE:-http://apple-store.fr/etandem}
      APP_LINK_PLAY_STORE: ${APP_LINK_PLAY_STORE:-http://play-store.fr/etandem}
      SMTP_DISABLE_BOOT_VERIFICATION: ${SMTP_DISABLE_BOOT_VERIFICATION:-true}
      SMTP_HOST: ${SMTP_HOST:-mailer}
      SMTP_PORT: ${SMTP_PORT:-1025}
      SMTP_SECURE: ${SMTP_SECURE:-false}
      SMTP_IGNORE_TLS: ${SMTP_IGNORE_TLS:-true}
      SMTP_SENDER: ${SMTP_SENDER:-test@ulep.fr}
      FIREBASE_PROJECT_ID: ${FIREBASE_PROJECT_ID:-}
      FIREBASE_PRIVATE_KEY: ${FIREBASE_PRIVATE_KEY:-}
      FIREBASE_CLIENT_EMAIL: ${FIREBASE_CLIENT_EMAIL:-}
      FIREBASE_PARALLEL_LIMIT: ${FIREBASE_PARALLEL_LIMIT:-3}
      SENTRY_DSN: ${API_SENTRY_DSN:-}
      CANCEL_TRESHOLD_IN_MINUTES: ${CANCEL_TRESHOLD_IN_MINUTES:-15}
      SIGNED_URL_EXPIRATION_IN_SECONDS: ${SIGNED_URL_EXPIRATION_IN_SECONDS:-600}

  admin:
    build:
      context: ./admin
      target: admin_prod
    depends_on:
      - api
    environment:
      REACT_APP_API_URL: ${REACT_APP_API_URL:-http://0.0.0.0:3002}
      REACT_APP_KEYCLOAK_URL: ${REACT_APP_KEYCLOAK_URL:-http://0.0.0.0:8080}
      REACT_APP_KEYCLOAK_REALM: ${REACT_APP_KEYCLOAK_REALM:-etandem}
      REACT_APP_KEYCLOAK_CLIENT_ID: ${REACT_APP_KEYCLOAK_CLIENT_ID:-react-admin}
      REACT_APP_KEYCLOAK_CLIENT_SECRET: ${REACT_APP_KEYCLOAK_CLIENT_SECRET:-uKBywX2HlxfvKgxZoKZrbiBSx49CST6W}
      REACT_APP_SENTRY_DSN: ${ADMIN_SENTRY_DSN:-}
      WDS_SOCKET_PORT: 0

  auth:
    image: quay.io/keycloak/keycloak:21.1.2
    depends_on:
      - database
    volumes:
      - ./docker/keycloak/providers:/opt/keycloak/providers
      - ./docker/keycloak/realms:/opt/keycloak/data/import
      - ./docker/keycloak/themes:/opt/keycloak/themes
    command: start --import-realm
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_USER:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD:-!ChangeMe!}
      KC_DB: postgres
      KC_DB_USERNAME: ${POSTGRES_USER:-postgres}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      KC_DB_URL: jdbc:postgresql://database:5432/${POSTGRES_DB:-ulep}
      KC_DB_SCHEMA: keycloak
      KC_HOSTNAME_URL: ${KEYCLOAK_BASE_URL:-http://0.0.0.0:8080}
      KC_HOSTNAME_ADMIN_URL: ${KEYCLOAK_BASE_URL:-http://0.0.0.0:8080}

  chat:
    build:
      context: ./chat
      target: chat_prod
    depends_on:
      - mongo
      - redis
    restart: unless-stopped
    environment:
      ADMIN_URL: ${ADMIN_URL:-http://0.0.0.0:3001}
      APP_URL: ${APP_URL:-http://0.0.0.0:5173}
      API_URL: ${API_URL:-http://api:3000}
      LOG_LEVEL: ${LOG_LEVEL:-debug} # verbose, debug, log, warn or error
      DATABASE_URL: ${DATABASE_URL:-mongodb://${MONGODB_ROOT_USER:-ulep}:${MONGODB_ROOT_PASSWORD:-!ChangeMe!}@mongo:27017/${MONGODB_DATABASE:-ulep}?authSource=admin&replicaSet=rs0}
      KEYCLOAK_BASE_URL: ${KEYCLOAK_BASE_URL:-http://auth:8080}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:-etandem}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD:-!ChangeMe!}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID:-api}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET:-bN49BuApmmtAODeOWOG8iKOOuJdN3KE6}
      S3_URL: ${S3_URL:-http://minio:9000}
      S3_REGION: ${S3_REGION:-eu-east-1}
      S3_ACCESS_KEY: ${MINIO_USER:-minio}
      S3_ACCESS_SECRET: ${MINIO_PASSWORD:-!ChangeMe!}
      SENTRY_DSN: ${CHAT_SENTRY_DSN:-}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379}

  redis:
    image: redis:latest
    volumes:
      - redis_data:/data

  mongo:
    image: mongo:7-jammy
    command:
      ["mongod", "--replSet", "rs0", "--auth", "--keyFile", "/etc/keyfile.key"]
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-!ChangeMe!}
    volumes:
      - chat_data:/data/db
      - ./docker/database/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
      - ./docker/database/keyfile.key:/etc/keyfile.key

  init-replica:
    image: mongo:7-jammy
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-!ChangeMe!}
    depends_on:
      - mongo
    entrypoint: >
      bash -c "
      sleep 10;
      echo 'rs.initiate({_id: \"rs0\", members: [{ _id: 0, host: \"mongo:27017\" }]})' | mongosh --host mongo --authenticationDatabase admin -u root -p ${MONGO_INITDB_ROOT_PASSWORD};
      "

  database:
    image: postgres:${POSTGRES_VERSION:-14}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-ulep}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
    volumes:
      - ./docker/database/db.sql:/docker-entrypoint-initdb.d/db.sql
      - db_data:/var/lib/postgresql/data
      # you may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/database/data:/var/lib/postgresql/data
  minio:
    image: minio/minio:latest
    command: server /data/minio --console-address :9001
    environment:
      MINIO_ROOT_USER: ${MINIO_USER:-minio}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD:-!ChangeMe!}
    volumes:
      - ./docker/minio:/data/minio

    # weblate:
    #   image: weblate/weblate:latest
    #   depends_on:
    #     - database
    #   ports:
    #     - 8999:8080
    #   environment:
    #     WEBLATE_SITE_DOMAIN: ${DOMAIN_NAME:-localhost}
    #     WEBLATE_ADMIN_NAME: ${WEBLATE_USER:-admin}
    #     WEBLATE_ADMIN_PASSWORD: ${WEBLATE_PASSWORD:-!ChangeMe!}
    #     POSTGRES_USER: ${POSTGRES_USER:-postgres}
    #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
    #     POSTGRES_HOST: database
    #     POSTGRES_PORT: 5432
    #     POSTGRES_DATABASE: ${WEBLATE_DB:-weblate} # ? TODO use custom schema

volumes:
  db_data:
  chat_data:
  redis_data:
