.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.checkbox-container {
    width: 100%;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.occurence-container {
    align-items: center;
    background-color: #f2f4f7;
    display: flex;
    height: 60px;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.occurence-text {
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    text-transform: none;
}

.title {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 10px;
}
