.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 10px;
    text-align: center;
}
