.modal {
    --border-radius: 20px;
    --height: auto;
    --width: auto;
}

.container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.filter {
    font-family: Maven Pro;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.category-title {
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}
