.modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.48);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 336px;
}
