.container {
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.list {
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    padding: 4px;
}

