/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.modal {
    --border-radius: 20px;
    --width: auto;
}

.container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.close {
    align-self: flex-end;
}

.close_icon {
    width: 24px;
    height: 24px;
}

.title {
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: start;
    margin-bottom: 24px;
    text-transform: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.item_all_lists {
    width: 100%;
    padding-block: 20px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.all_lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .title {
        font-size: 20px;
    }
    .checkbox {
        margin-bottom: 0;
    }
}

.button {
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    margin-top: auto;
    width: 100%;
    text-decoration-line: none !important;
}

.mobileContainer {
    max-width: 100%;
    width: 100%;
    align-self: end;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-height: 80%;
}

.mobileContainer .list {
    overflow-y: scroll;
}
