.container {
    align-items: center;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.button-container {
    width: 100%;
}

.title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.list {
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.selected {
    background: var(--secondary-color);
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    padding: 4px;
}

.modal {
    --border-radius: 20px;
    --height: auto;
}
