.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.selected {
    background: var(--secondary-color);
}

.container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
    min-width: 20%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.title {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
}
