.container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal {
    --height: 100%;
    justify-content: flex-end;
    .content {
        overflow-y: scroll;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}
