.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px;
}

.datetime {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.datetimeBtn {
    align-self: flex-start;
}

.datetimeInfo {
    font-size: 13px;
    color: #737373;
    font-family: 'Maven Pro', sans-serif;
}

.button-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    padding: 20px;
}
