/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    display: flex;
    gap: 5px;
    flex-direction: row;
    height: 100%;
    position: relative;
    padding: 0 10px;
    flex-grow: 1;
}

.avatar {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.bubble {
    padding-left: 10px;
    min-width: 100px;
    align-self: center;
}

.buttons {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.card {
    flex-wrap: wrap;
    align-items: center;
    background: var(--primary-color);
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 10px;
}

.name {
    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    line-height: 18.75px;
    font-weight: 700;
    text-transform: uppercase;
}

.text-container {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    line-height: 25px;
    gap: 10px;
    align-items: center;
}

.cancelled {
    padding: 0 10px;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (min-width: 768px) {
    .content {
        flex-direction: column;
    }

    .card {
        flex-wrap: nowrap;
    }
}
