.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px;
    height: 100%;
}

.datetime {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.datetimeBtn {
    align-self: flex-start;
}

.datetimeInfo {
    font-size: 13px;
    color: #737373;
    font-family: 'Maven Pro', sans-serif;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: auto;
    width: 100%;
}
