.container {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    margin: 0;
    padding: 30px;
    overflow-y: auto;
    padding-bottom: 100px;
}

.session-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .container {
        background-color: #f2f4f7;
    }
}
