.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 10px 0px #0000001a;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    width: 100%;
}

.image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: start;
    color: black;
}

.subtitle {
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: start;
    color: black;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.information-title {
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: start;
    color: black;
}

.information-content {
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    text-align: start;
    color: black;
}

.information {
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    width: 100%;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
