/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 10px 0px #0000001a;
    width: 100%;
}

.container:focus {
    background-color: rgba(0, 84, 233, 0.12);
}

h2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    width: 100%;
}

.image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: start;
    color: black;
}

.subtitle {
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: start;
    color: black;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.information-title {
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: start;
    color: black;
}

.information-content {
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    text-align: start;
    color: black;
}

.information {
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    width: 100%;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.imageContainer {
    position: relative;
    width: 100%;
}

.status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    border-radius: 50%;
    font-size: 24px;
}
