.container {
    background-color: #c4bad6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}
