.button {
    max-width: 20%;
}

.card {
    background-color: white;
    border-radius: 10px;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .card {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 12px;
    }

    .header {
        margin-bottom: 0;
    }
}
