.button {
    max-width: 30%;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .header {
        margin-bottom: 0;
    }
}
