/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.container {
    background-color: #f2f4f7;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
}

.primaryContainer {
    background-color: var(--primary-color);
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imageContainer {
    position: relative;
    align-self: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 64px;
    height: 64px;
    padding: 8px;
}

:dir(ltr) .imageContainer {
    margin-left: -24px;
}

:dir(rtl) .imageContainer {
    margin-right: -24px;
}

.image {
    width: 48px;
    height: 48px;
}

:dir(ltr) .imageContainer:first-child {
    margin-left: 0;
}

:dir(rtl) .imageContainer:last-child {
    margin-left: 0;
}

.images {
    display: flex;
    flex-direction: row;
    position: relative;
}

.date {
    font-family: Roboto;
    font-size: 37px;
    font-weight: 700;
    line-height: 40px;
    text-align: start;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: start;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.subtitle {
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
}

.text-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
