.container {
    background-color: #fff;
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    width: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin: 4px;
}

.image {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    font-size: 14px;
    color: #555;
}
