.active-button {
    background-color: black;
}

.button {
    border-radius: 50%;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}

.container-button {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 0px;
}

.inactive-button {
    background-color: #d9d9d9;
}

@media (min-width: 768px) {
    .container-button {
        margin-bottom: 0px;
    }
}
