.card-button {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    background-color: var(--secondary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.container-image {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    height: 95px;
    justify-content: center;
    margin: 20px;
    min-height: 95px;
    min-width: 95px;
    width: 95px;
}

.image {
    height: 60px;
    width: 60px;
}

.subtitle {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
}

.tested-languages-list {
    padding-left: 0;
    list-style-type: none;
}

.tested-languages {
    display: inline-block;
    padding-right: 1rem;
}
