.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px 20px 25px 20px;
    background-color: #f2f4f7;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: black;
    margin-bottom: 0;
}

.image {
    width: 90px;
}
