.container {
    background-color: var(--primary-color);
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 12px;
    border-radius: 0 0 12px 12px;
}

.content {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.header {
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-left: 12px;
}

.title {
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #000000;
}

.creator {
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #767676;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.button {
    background-color: transparent;
    padding: 0;
}
