.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.conversationContent,
.chatContent {
    flex: 1;
    overflow: auto;
    height: 100%;
}

.image-modal {
    background-color: white;
    max-height: 80vh;
    max-width: 80vw;
    object-fit: contain;
    margin: 0;
    padding: 12px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
