.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 20px;
}

@media (min-width: 768px) {
    .body {
        padding: 0px 64px;
        width: 660px;
        z-index: 2;
    }
}
