.button {
    padding: 0 20px;
    width: 100%;
}

.footer {
    color: black;
    font-family: Maven Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.3px;
    margin-bottom: 20px;
    margin-top: auto;
    text-align: center;
}

.main-content {
    align-items: center;
    background-color: #fdee66;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 20 0px;
}

.icon {
    background-color: white;
    height: 225px;
    margin: 30px 0;
    width: 225px;
}

.subtitle {
    color: #000;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.text {
    color: black;
    text-align: center;
}

.title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-top: 72px;
}

.web-content {
    height: 100%;
}

@media (min-width: 768px) {
    .button {
        padding: 0 100px;
        width: 100%;
    }

    .main-content {
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
        padding: 0px 60px;
    }

    .web-content {
        background-color: #b6aa43;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 64px;
    }
}
