.avatar {
    border-radius: 50%;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    width: 60px;
}

.avatar-container {
    align-items: center;
    background: none;
    display: flex;
    flex-direction: row;
}

.loaderContainer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    width: 100%;
}

.content {
    background-color: #f4f5fe;
}

.date {
    color: #a8a8a8;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.hello {
    color: #000;
    font-family: 'Roboto';
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hello-container {
    display: flex;
    flex-direction: column;
}

.report-container {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
    width: 100%;
}

.report {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.separator {
    background-color: #ebebeb;
    height: 1px;
    margin: 20px 0px;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        background-color: #f4f5fe;
        padding: 52px 180px;
    }

    .report-container {
        align-self: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 48px;
        width: 410px;
    }

    ion-content {
        --ion-background-color: #f4f5fe;
    }
}
