.avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.avatar-container {
    align-items: center;
    background: none;
    display: flex;
    flex-direction: row;
}

.container {
    background-color: #f4f5fe;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    width: 100%;
}

.date {
    color: #a8a8a8;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.hello {
    color: #000;
    font-family: 'Roboto';
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.header {
    display: flex;
    flex-direction: row;
}

.hello-container {
    display: flex;
    flex-direction: column;
}

.separator {
    background-color: #ebebeb;
    height: 1px;
    margin: 20px 0px;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        padding: 52px 180px;
    }
}
