.content {
    margin-top: 40px;
}

.preference-container {
    background-color: #f2f4f7;
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 60px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    text-transform: none;
}

.preference-text {
    color: black;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
}
