.level-container {
    background: #f2f4f7;
    border-radius: 10px;
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 80px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.levels-container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 2%;
}
.level-container-override {
    composes: level-container;
    width: 49%;
    
}