.content {
    margin-top: 40px;
}

.preference-container {
    align-items: center;
    background-color: #f2f4f7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    text-transform: none;
}

.preference-text {
    color: black;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
}

.preference-description {
    color: black;
    font-family: 'Maven Pro';
    font-size: 13px;
    font-style: normal;
    line-height: 17.3px;
}
