.language-container {
    align-items: center;
    align-self: stretch;
    border-radius: 5px;
    background: #f2f4f7;
    display: flex;
    height: 50px;
    padding: 12px 16px;
}

.mode-container {
    align-items: center;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 16px;
}

.mode-text {
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.title {
    align-self: center;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
