.pedagogy-container {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}

.pedagogy-text {
    color: black;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.title {
    align-self: center;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
