.image {
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 95px;
    justify-content: center;
    margin: 5px;
    min-height: 95px;
    min-height: 95px;
    width: 95px;
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
