.bottom-container {
    margin-bottom: 40px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.frequency-container {
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 60px;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.frequency-text {
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
