.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0px 20px;
}

.bottom-container {
    margin-top: auto;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    z-index: 1;
}

.image {
    align-self: center;
    height: 110px;
    width: 110px;
}

.information {
    color: #000;
    font-family: Maven Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.3px;
    text-align: center;
}

.separator {
    background-color: black;
    height: 1px;
    margin: 30px 0px;
    width: 100%;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.title {
    align-self: center;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 28px;
}

.web-content {
    height: 100%;
}

@media (min-width: 768px) {
    .container {
        min-height: calc(100vh - 64px);
    }
    .body {
        padding: 0px 64px;
        width: 660px;
        z-index: 2;
    }
}
