.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 80px 110px;
}

.description {
    color: #000;
    font-family: Maven Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.image {
    border-radius: 50%;
    height: 225px;
    width: 225px;
    margin: 16px 0px;
}

.title {
    color: #000;
    font-family: Roboto;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}
