.body {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
}

.container {
    background-color: white;
    height: 100%;
    z-index: 1;
}

.information {
    color: #000;
    font-family: Maven Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.3px;
    text-align: center;
}

.separator {
    background-color: black;
    height: 1px;
    margin: 30px 0px;
    width: 100%;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.title {
    align-self: center;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 28px;
}

.web-content {
    height: 100%;
}

@media (min-width: 768px) {
    .body {
        padding: 0px 64px;
        width: 660px;
        z-index: 2;
    }

    .page {
        align-items: center;
        background-color: #fdee66;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-top: 64px;
        width: 100%;
        z-index: 2;
    }
}
