.category-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.interests-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-left: 0;
    list-style-type: none;
}

.tags {
    background: none;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    margin: 5px;
    padding: 4px 16px;
}

.tags:disabled {
    background-color: #e9e9e9 !important;
}

.tags-text {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
