.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0px 20px;
}

.bottom-container {
    margin-top: auto;
    margin-bottom: 40px;
}

.password-infos-btn {
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin: 0 0.5rem;
}

.password-infos-popover {
    &::part(content) {
        width: 90%;
    }
    max-height: 100%;
}

.password-infos {
    display: flex;
    padding: 20px;
}

.image {
    align-self: center;
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: 110px;
}

.information {
    color: #000;
    font-family: 'Maven Pro';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.3px;
    text-align: center;
}

.loader {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.separator {
    background-color: black;
    height: 1px;
    margin-top: 10px;
    width: 100%;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.title {
    align-self: center;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 28px;
}

.web-content {
    height: 100%;
}

@media (min-width: 768px) {
    .body {
        padding: 0px 64px;
        width: 660px;
        z-index: 2;
    }

    .password-infos-popover {
        &::part(content) {
            width: 20%;
        }
    }
}
