.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.frequency-container {
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 60px;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.frequency-text {
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.subtitle {
    align-self: center;
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 28px;
    text-align: center;
}

.title {
    align-self: center;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
