.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image {
    border-radius: 50%;
    height: 225px;
    width: 225px;
    object-fit: cover;
}

.subtitle {
    background-color: #f2f4f7;
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    .body {
        padding: 0px 64px;
        width: 660px;
        z-index: 2;
    }

    .image {
        margin: 20px;
    }
}
