.container {
    background-color: #fff8b7;
    height: 100%;
    width: 100%;
}

.footer {
    border: 1px solid #00000020;
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 104px;
    padding: 12px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 12px;
}

.icon {
    height: 24px;
    padding: 0px 8px;
    width: 24px;
}

.input {
    border: none;
    margin-top: 8px;
    outline: none;
    width: 100%;
}

.messages {
    flex: 1;
    height: calc(100% - 104px);
    width: 100%;
}

.sender-view {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sender {
    height: 44px;
    padding-left: 12px;
    width: 44px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
