/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.container {
    border-left: 1px solid #00000020;
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    height: 50px;
}

.icon {
    height: 24px;
    padding: 0px 8px;
    width: 24px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0;
}

.cancel-image-button {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    padding: 2px;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
}

.chat-popover-label {
    padding-left: 10px;
    font-size: 14px;
}

.title-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.camera {
    background-color: #000;
    border-radius: 4px;
    color: white;
    margin-left: 12px;
}

.replyHeader {
    background-color: #7db8b8;
    padding: 20px;
    width: 100%;
}

.replyHeaderText {
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: start;
    text-decoration: underline;
    text-transform: none;
    margin: 0 8px;
}

.replyHeaderButton {
    padding: 0;
    color: black;
}

@media (min-width: 768px) {
    .header {
        padding: 12px;
    }
}
