.container {
    border-left: 1px solid #00000020;
    background-color: #fff8b7;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.footer {
    border-top: 1px solid #00000020;
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 104px;
    padding: 12px;
}

.header {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    height: 50px;
    padding: 12px;
}

.icon {
    height: 24px;
    padding: 0px 8px;
    width: 24px;
}

.input {
    background: none;
    border: none;
    margin-top: 8px;
    outline: none;
    resize: none;
    width: 100%;
}

.sender-view {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sender {
    height: 44px;
    padding-left: 12px;
    width: 44px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.preview-image {
    border-radius: 10%;
    margin: 12px;
    object-fit: cover;
    object-position: center;
    height: 40px;
    width: 40px;
}

.preview-image-container {
    position: relative;
    display: inline-block;
    max-width: 80%;
    max-height: 300px;
}

.cancel-image-button {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    padding: 2px;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
}

@media (min-width: 768px) {
    .cancel-image-button {
        height: 30px;
        width: 30px;
    }

    .preview-image {
        height: 60px;
        width: 60px;
    }
}
