.container {
    border-left: 1px solid #00000020;
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    height: 50px;
}

.icon {
    height: 24px;
    padding: 0px 8px;
    width: 24px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0;
}

.cancel-image-button {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    padding: 2px;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
}

.chat-popover-label {
    padding-left: 10px;
    font-size: 14px;
}

.title-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.camera {
    background-color: #000;
    border-radius: 4px;
    color: white;
    margin-left: 12px;
}

.replyHeader {
    background-color: var(--primary-background-color);
    padding: 20px;
    width: 100%;
}

.replyHeaderText {
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: start;
    text-decoration: underline;
    text-transform: none;
    margin: 0 8px;
}

.replyHeaderButton {
    padding: 0;
    color: black;
}

@media (min-width: 768px) {
    .header {
        padding: 12px;
    }
}
