.connect-div,
.signup-div {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    overflow: auto; /* to avoid collapse effect */
    width: 100%;
}

.connect-div {
    background-color: #fdee66;
}

.hybrid-connect-div {
    margin-bottom: 10px;
}

.hybrid-div-padding {
    padding: 0 25px;
}

.hybrid-outer-div-padding {
    padding: 20px;
}

.icons {
    background-color: #f8f9fa;
    height: 140px;
    width: 140px;
}

.outer-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    box-sizing: border-box;
}

.signup-div {
    background-color: #b4c2de;
}

.title {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.web-connect-div {
    margin-bottom: 20px;
}

.web-div-padding {
    padding: 0px 118px;
}

.web-outer-div-padding {
    padding: 60px;
}
