.container {
    background-color: white !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}

.content {
    background-color: white;
    flex: 1;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    padding-top: 20px;
}

.title {
    color: #000;
    font-family: 'Roboto';
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

@media (min-width: 768px) {
    .container {
        background-color: #f4f5fe;
    }

    .content {
        background-color: #f4f5fe;
        --ion-background-color: #f4f5fe;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 20px 5px;
    }
}
