.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
}

.container {
    padding: 20px;
}

.content {
    background-color: #f2f4f7;
    padding: 20px 15px;
}

.flag {
    margin-right: 10px;
}

.language {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #000;
}

.pronunciationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pronunciation {
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.playerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;
}

.playButton {
    color: #000;
}

.addPronunciation {
    color: #000;
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-decoration: underline;
}

.title {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.buttonCreateContainer {
    flex-direction: row;
}
