.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-color);
    height: 100%;
    padding-top: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    color: #000;
    margin: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    font-family: 'Maven Pro';
    z-index: 1;
}

.star {
    margin-top: 20px;
    z-index: 1;
}

.title {
    font-size: 37px;
    font-weight: 700;
    line-height: 40px;
    color: #000;
    font-family: 'Roboto';
    z-index: 1;
}

.buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    scale: 2;
    width: 100%;
    height: 100%;
    z-index: 0;
}
