.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
    padding: 20px;
}

.container .closeButton {
    height: 40px;
    width: 40px;
    padding: 0 !important;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none !important;
    border-radius: 10px;
}

.container .closeButton .button-native {
    padding: 10px !important;
    padding-top: 10px !important;
    -webkit-padding-start: 10px !important;
    padding-inline-start: 10px !important;
    -webkit-padding-end: 10px !important;
    padding-inline-end: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
