/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.avatar {
    border-radius: 50%;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    width: 60px;
}

.avatar-container {
    align-items: center;
    background: none;
    display: flex;
    flex-direction: row;
}

.loaderContainer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    width: 100%;
}

.content {
    background-color: white;
}

.date {
    color: #5a5959;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.hello {
    color: #000;
    font-family: 'Roboto';
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hello-container {
    display: flex;
    flex-direction: column;
}

.report-container {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 40px;
    width: 100%;
}

.report {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.separator {
    background-color: #ebebeb;
    height: 1px;
    margin: 20px 0px;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        background-color: #f4f5fe;
    }

    .content {
        background-color: #f4f5fe;
        --ion-background-color: #f4f5fe;
        min-height: 100%;
    }

    .masonery-content {
        margin-top: 12px;
    }

    .report-container {
        align-self: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 48px;
        width: 410px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px;
        width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        padding: 52px 20px;
    }
}

@media (min-width: 1280px) and (max-width: 1600px) {
    .container {
        padding: 52px 60px;
    }
}

@media (min-width: 1600px) {
    .container {
        padding: 52px 15%;
    }
}
