.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0px 20px;
}

.image {
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 95px;
    justify-content: center;
    margin: 5px;
    min-height: 95px;
    min-height: 95px;
    width: 95px;
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.loader {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .body {
        padding: 0px 64px;
        width: 660px;
        z-index: 2;
    }
}
