.checkbox-text {
    color: #000;
    font-family: Maven Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.joker-container {
    background-color: var(--secondary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    width: 100%;
}

.joker-description {
    color: black;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.joker-text-container {
    margin-left: 10px;
}

.other-checkbox-container {
    column-count: 1;
    margin-top: 40px;
}

@media (min-width: 768px) {
    .other-checkbox-container {
        column-count: 2;
        margin-top: 40px;
    }
}
