.checkbox-text {
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.dice {
    align-self: center;
    height: 90px;
    width: 90px;
}

.joker-container {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
}

.joker-description {
    color: black;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.joker-image-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.joker-text-container {
    margin-left: 10px;
}

.other-checkbox-container {
    column-count: 1;
    margin-top: 40px;
}

@media (min-width: 768px) {
    .other-checkbox-container {
        column-count: 2;
        margin-top: 40px;
    }

    .joker-image-container {
        margin-bottom: 0px;
    }
}
