.content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.explaination {
    color: black;
    font-family: Maven Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.3px;
    margin: 30px 0px;
    text-align: center;
}

.image {
    margin-top: 30px;
}

.language-container {
    align-items: center;
    align-self: stretch;
    border-radius: 5px;
    background: #f2f4f7;
    display: flex;
    height: 50px;
    padding: 12px 16px;
}

.language-title {
    align-self: flex-start;
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
