/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.container {
    background-color: rgba(244, 245, 254, 1);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px;
    overflow-y: auto;

    .content {
        align-items: center;
        display: flex;
        flex-direction: column;

        .titleContainer {
            width: 100%;
            margin-bottom: 30px;
            .title {
                text-align: start;
                margin: 0;
            }
        }

        .cards {
            width: 100%;
            display: flex;
            gap: 20px;
            margin-bottom: 25px;
        }

        .buttons {
            width: 100%;
            display: flex;
            gap: 35px;
            .button {
                align-items: center;
                background-color: #fff;
                display: flex;
                flex-direction: row;
                height: 60px;
                justify-content: space-between;
                padding: 20px;
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

.button-container {
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: row;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    .icon {
        height: 40px;
        width: 40px;
        padding: 8px;
    }
}

.proficiencyTestCard {
    width: 100%;
    flex: 1;
    display: flex;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    flex-direction: column;
    gap: 14px;
    border-radius: 5px;
}

.hybrid.container {
    background-color: white;
    padding: 20px;
    .content {
        position: relative;
        .titleContainer {
            width: 100vw;
            min-height: 130px;
            padding: 20px;
            margin-bottom: 0;
            position: absolute;
            top: 0;
            left: -20px;
            display: flex;
            .title {
                max-width: 120px;
                align-self: flex-end;
            }
        }
        .cards {
            flex-direction: column;
            gap: 40px;
            margin-bottom: 40px;
            margin-top: 170px;
        }
        .buttons {
            flex-direction: column;
            gap: 15px;
            margin-bottom: 20px;
            .button {
                background-color: rgba(242, 244, 247, 1);
            }
        }
    }
}
