.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    overflow-y: auto;

    .content {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

.back-button {
    background: none;
}

.button {
    align-items: center;
    background-color: #f2f4f7;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.button-container {
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: row;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    .icon {
        height: 40px;
        width: 40px;
        padding: 8px;
    }
}

.image {
    border-radius: 50%;
    height: 194px;
    width: 194px;
    object-fit: cover;
}

.name {
    color: black;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.6px;
    margin-top: 12px;
    text-align: center;
    text-transform: uppercase;
}

.university {
    color: var(--black, #000);
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
    text-align: center;
}
