.container {
    background-color: rgba(244, 245, 254, 1);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px;
    overflow-y: auto;

    .content {
        align-items: center;
        display: flex;
        flex-direction: column;

        .titleContainer {
            width: 100%;
            margin-bottom: 30px;
            .title {
                text-align: left;
                margin: 0;
            }
        }

        .cards {
            width: 100%;
            display: flex;
            gap: 20px;
            margin-bottom: 25px;
        }

        .buttons {
            width: 100%;
            display: flex;
            gap: 35px;
            .button {
                align-items: center;
                background-color: #fff;
                display: flex;
                flex-direction: row;
                height: 60px;
                justify-content: space-between;
                padding: 20px;
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

.button-container {
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: row;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    .icon {
        height: 40px;
        width: 40px;
        padding: 8px;
    }
}
.hybrid.container {
    background-color: white;
    padding: 20px;
    .content {
        position: relative;
        .titleContainer {
            width: 100vw;
            min-height: 130px;
            padding: 20px;
            margin-bottom: 0;
            position: absolute;
            top: 0;
            left: -20px;
            display: flex;
            .title {
                max-width: 120px;
                align-self: flex-end;
            }
        }
        .cards {
            flex-direction: column;
            gap: 40px;
            margin-bottom: 40px;
            margin-top: 170px;
        }
        .buttons {
            flex-direction: column;
            gap: 15px;
            margin-bottom: 20px;
            .button {
                background-color: rgba(242, 244, 247, 1);
            }
        }
    }
}
