.bubble {
    border: 1px solid black;
    border-radius: 50%;
    height: 9px;
    margin-left: 4px;
    width: 9px;
}

.bubble-container {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    width: 64px;
}

.level-container {
    align-items: center;
    border-radius: 5px;
    color: #000;
    display: flex;
    flex-direction: row;
    font-family: 'Maven Pro';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 80px;
    line-height: 17.3px;
    margin-bottom: 10px;
    width: 100%;
}

@media (min-width: 768px) {
    .bubble {
        margin-left: 10px;
    }
}
