.animation {
    position: absolute;
    pointer-events: none;
}

.bubble {
    position: absolute;
    top: 0px;
    left: -30px;
}

.bubble-cefr {
    align-items: center;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
}

.button {
    margin-top: auto;
    margin-bottom: 40px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.description {
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.image {
    border-radius: 50%;
    height: 225px;
    width: 225px;
    margin: 16px 0px;
}

.image-container {
    position: relative;
    margin: 30px 0px;
}

.level-container {
    align-items: center;
    background-color: #eceded;
    border-radius: 5px;
    color: #000;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    gap: 10px;
    line-height: 25px;
    letter-spacing: -0.6px;
    padding: 10px 16px;
    text-transform: uppercase;
    text-align: center;
}
