.back-button {
    background: none;
}

.button-container {
    margin-top: auto;
    width: 100%;
}

.category {
    margin-bottom: 24px;
    width: 100%;
}

.content {
    background-color: white;
    min-height: 100%;
    padding-bottom: 40px;
    min-width: 100%;
    overflow-y: auto;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    width: 100%;
    z-index: 2;
}

.header {
    border-bottom: 1px solid rgb(0, 0, 0, 0.18);
    color: #000;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    justify-content: space-between;
    line-height: 21px;
    padding: 24px;
    text-align: center;
    width: 100%;
}

@media (min-width: 768px) {
    .content {
        height: 80%;
        width: 60%;
    }

    .container {
        padding: 20px 60px;
    }
}
