.back-button {
    background: none;
}

.container {
    background-color: white;
    height: 100%;
    padding: 20px;
}

.setting-container {
    align-items: center;
    background-color: #f2f4f7;
    border-radius: 5px;
    color: #000;
    display: flex;
    flex-direction: row;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 60px;
    justify-content: space-between;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.title {
    color: #000;
    font-family: 'Roboto';
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        padding: 20px 60px;
        width: 40%;
    }

    .setting-container {
        margin-top: 10px;
    }
}
