/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.container {
    border-left: 1px solid #00000020;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding: 0 !important;
    overflow-y: scroll;
}

.show_session_content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
}

.confirm_title {
    font-size: 37px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    margin-bottom: 0;
}

.confirm_message {
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    line-height: 20px;
    margin-top: 0;
}

.confirm_header {
    margin: 30px auto;
    text-align: center;
}

.header {
    background-color: white;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #00000020;
}

.title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    line-height: 50px;
}

.back_button {
    position: absolute;
    left: 10px;
    top: 3px;
}

.block {
    background-color: #f2f4f7;
    padding: 20px;
    border-radius: 10px;
}

.block_title {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    margin-top: 0;
}

.line {
    display: flex;
    align-items: start;
    gap: 5px;
}

.icon {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.datetimeInfo {
    font-size: 13px;
    color: #737373;
    font-family: 'Maven Pro', sans-serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.cancelled_title {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    z-index: 2;
}

.block_cancelled {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 50px;
}

.cancelled_icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.background_image {
    position: absolute;
    bottom: 15%;
    left: 0;
    scale: 2;
    width: 75%;
    height: 75%;
    z-index: 1;
}

.comment {
    white-space: pre-line;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media (min-width: 768px) {
    .header {
        padding: 12px;
    }
}
