.bottom-container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bottom-container > * {
    margin: 0px 10px;
}

.close-container {
    background: none;
    display: flex;
    padding: 16px 26px 34px 16px;
    width: 100%;
    z-index: 2;
}

.container {
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.content {
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0px 20px;
    z-index: 2;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 1;
}

@media (min-width: 768px) {
    .container {
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
        height: 100%;
        width: 640px;
    }

    .content {
        padding: 0px 60px;
    }
    .image {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5);
        z-index: 1;
    }
}
