/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.container {
    background-color: white !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .header {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        width: 100%;
        padding-bottom: 0;

        .back_button {
            width: 46px;
            height: 46px;
        }

        .title {
            color: #000;
            font-family: 'Roboto';
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            margin: 0 46px 0 0;
            display: flex;
            flex: 1;
            justify-content: center;
        }
    }
    .content_container {
        background-color: #f2f4f7;
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .status_container {
            /* align-self: flex-start; */
            @media (max-width: 768px) {
                align-self: center;
            }
        }

        .details_container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            p {
                margin: 0;
            }
            .details_bloc {
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: space-between;
            }
            .item {
                display: flex;
                flex-direction: column;
                gap: 6px;
                .item_title {
                    color: #000;
                    font-family: 'Maven Pro';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
                .item_content {
                    color: #737272;
                    font-family: 'Maven Pro';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    padding: 12px 16px;
                    background-color: #fff;
                    border-radius: 5px;
                }
                .item_content_media {
                    padding: 0;
                    background-color: #fff;
                    border-radius: 5px;
                    width: fit-content;
                }
                .item_strong {
                    color: #000;
                }
            }
        }
        .cancel_button {
            background-color: #f2f4f7;
        }
        .button_container {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 20px 5px;
    }
}
