.container {
    padding: 20px;
}

.addButton {
    background-color: #eeccff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
}

.emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 12px;
}

.emptyText {
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.emptyImage {
    height: 118px;
    width: 118px;
}

.addIcon {
    color: #c266ff;
    height: 400px;
    width: 400px;
}

.title {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}

.pronunciationTitle {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    margin: 24px;
}
