.addButton {
    background-color: #eeccff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    padding-top: 20px;
}

.vocabularyList {
    align-items: flex-start;
    padding: 12px;
    border-bottom: 1px solid black;
    text-align: left;
    width: 100%;
}

.addIcon {
    color: #c266ff;
    height: 400px;
    width: 400px;
}
