.container {
    display: flex;
    flex-direction: column;
    margin-top: 0px !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0 !important;
    }
}
