.line {
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    text-align: start;
    width: 100%;
    p {
        margin: 0;
    }
    .image {
        height: 50px;
        width: 50px;
        min-width: 50px;
        min-height: 50px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .status_container {
            margin-bottom: 5px;
        }
        .date {
            color: #737272;
            font-family: 'Maven Pro', sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            margin-bottom: 5px;
        }

        .message {
            font-family: 'Maven pro', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: black;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }
}
