apiVersion: v1
kind: Secret
metadata:
  name: "{{ include "etandem.fullname" . }}-secret-{{ .Values.api.name }}"
type: Opaque
stringData:
  KEYCLOAK_ADMIN_PASSWORD: {{ .Values.auth.env.keycloakAdminPassword }}
  PGPASSWORD: {{ .Values.global.postgresql.auth.password }}
  MINIO_ACCESS_KEY: {{ .Values.api.env.minioAccessKey }}
  MINIO_SECRET_KEY: {{ .Values.api.env.minioSecretKey }} 
  KEYCLOAK_CLIENT_SECRET: {{ .Values.api.env.keycloakClientSecret }} 