apiVersion: v1
kind: Secret
metadata:
  name: "{{ include "etandem.fullname" . }}-secret-{{ .Values.api.name }}"
type: Opaque
stringData:
  database-url: "postgresql://{{ .Values.postgresql.global.postgresql.auth.username }}:{{ .Values.postgresql.global.postgresql.auth.password }}@{{ include "etandem.name" . }}-postgresql.{{ .Release.Namespace }}:5432/{{ .Values.postgresql.global.postgresql.auth.database }}?schema=public"
  database-password: {{ .Values.postgresql.global.postgresql.auth.password }}
  keycloak-admin-password: {{ .Values.auth.env.keycloakAdminPassword }}
  minio-access-key: {{ .Values.api.env.minioAccessKey }}
  minio-secret-key: {{ .Values.api.env.minioSecretKey }}
  keycloak-client-secret: {{ .Values.api.env.keycloakClientSecret }}
  weblate-token: {{ .Values.api.env.weblateApiToken }}"
