apiVersion: v1
kind: Secret
metadata:
  name: "{{ include "etandem.fullname" . }}-secret-{{ .Values.api.name }}"
type: Opaque
data:
  KEYCLOAK_ADMIN_PASSWORD: {{ .Values.auth.env.keycloackAdminPassword | b64enc | quote }}
  PGPASSWORD: {{ .Values.global.postgresql.password | b64enc | quote }}
  MINIO_ACCESS_KEY: {{ .Values.api.env.minioAccessKey | b64enc | quote }}
  MINIO_SECRET_KEY: {{ .Values.api.env.minioSecretKey | b64enc | quote }} 
  KEYCLOAK_CLIENT_SECRET: {{ .Values.api.env.keycloackClientSecret | b64enc | quote }} 