apiVersion: v1
kind: Secret
metadata:
  name: "{{ include "etandem.fullname" . }}-secret-{{ .Values.api.name }}"
type: Opaque
stringData:
  database-url: {{ printf "postgresql://%s:%s@%s-postgresql.%s:5432/%s?schema=public&charset=utf8" .Values.global.postgresql.auth.username .Values.global.postgresql.auth.password .Release.Name .Release.Namespace .Values.global.postgresql.auth.database | b64enc | quote }}
  keycloak-admin-password: {{ .Values.auth.env.keycloakAdminPassword }}
  minio-access-key: {{ .Values.api.env.minioAccessKey }}
  minio-secret-key: {{ .Values.api.env.minioSecretKey }}
  keycloak-client-secret: {{ .Values.api.env.keycloakClientSecret }}
  translations-token: {{ .Values.api.env.translationsToken }}
