.activity-list {
    padding: 20px;
}

.active-filter-button {
    border-radius: 30px;
    font-size: 13px;
    background-color: black;
    color: white;
}

.filter-button {
    color: black;
}

.filter-icon {
    margin-right: 6px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
}

.activity-list-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
}
