.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 30px;
}

.image {
    height: 225px;
    width: 225px;
}

.subtitle {
    color: #000;
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
