.excercise-button-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.excercise-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.excercise-container {
    display: flex;
    flex-direction: column;
}

.excercise-title {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: start;
}

.button-container {
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
