/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.footer {
    border-top: 1px solid #00000020;
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 104px;
    padding: 12px;
}

.icon {
    color: gray;
    height: 24px;
    width: 24px;
}

.input {
    color: #000;
    background: none;
    border: none;
    margin-top: 8px;
    outline: none;
    resize: none;
    width: 100%;
}

.sender-view {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.preview-image {
    border-radius: 10%;
    margin: 12px;
    object-fit: cover;
    object-position: center;
    height: 40px;
    width: 40px;
}

.preview-container {
    position: relative;
    display: inline-block;
    max-width: 80%;
    max-height: 300px;
}

.preview-audio-container {
    background-color: var(--primary-color);
    border-radius: 12px;
    position: relative;
    display: inline-block;
    max-width: 80%;
    max-height: 300px;
    margin-top: 12px;
    padding: 5px 10px;
}

.preview-file-container {
    background-color: var(--primary-color);
    border-radius: 8px;
    position: relative;
    display: flex;
    max-width: 80%;
    max-height: 300px;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.cancel-image-button {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    padding: 2px;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
}

.cancel-audio-button {
    background-color: black;
    border-radius: 50%;
    position: absolute;
    padding: 2px;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
}

@media (min-width: 768px) {
    .cancel-image-button {
        height: 30px;
        width: 30px;
    }

    .preview-image {
        height: 60px;
        width: 60px;
    }
}
