.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.no_conversations {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0 !important;
    }
}
