/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.content {
    margin: 0px 12px;
    display: flex;
    flex-direction: column;
    text-transform: none;
    text-align: start;
    width: 100%;
}

.communityAvatar {
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    position: relative;
}

.primaryLanguage {
    position: absolute;
    left: 5px;
    top: 15px;
    font-size: 24px;
}

.partnerLanguage {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 24px;
}

.date {
    align-self: flex-start;
    font-family: 'Maven pro', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: black;
    text-transform: none;
    text-align: end;
}

.image {
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    justify-content: center;
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
}

.top-line {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.line {
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: start;
    width: 100%;
}

.active {
    background-color: #000 !important;
}

.name {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.message {
    color: #767676;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: clip;
    word-wrap: break-word;
    max-height: 1.5em;
    inline-size: 100%;
    text-align: start;
}
