.container {
    background-color: #f5f5f5;
    width: 100%;
    padding: 4px;
}

.title {
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.header {
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hashtag {
    color: #0d5fff;
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-transform: none;
}

.hashtagContainer {
    background-color: white;
    border-radius: 16px;
    padding: 2px 4px 2px 4px;
    gap: 10px;
    opacity: 0px;
}

.selectedHashtag {
    color: white;
}

.selectedHashtagContainer {
    background-color: #0d5fff;
}

.closeIcon {
    color: white;
}

.openIcon {
    color: black;
}
