.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    width: 100%;
}

.messageContainer {
    margin: 12px;
}

/* Image */

.imageMessageContainer {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
}

.image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
}

/* Audio */

.messageAudio {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 1.1em;
    width: 100%;
}

/* File */

.messageFile {
    width: 100%;
    background-color: white;
}

.downloadButton {
    background-color: transparent;
    border: none;
    text-transform: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.downloadContainer {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
    text-decoration-color: black;
    width: 100%;
}

.download {
    margin: 8px;
    width: 28px;
    height: 28px;
}

.downloadIconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.downloadTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

/* Link */

.linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1em;
    width: 100%;
}

.messageLink {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    justify-content: start;
}

.linkImageContainer {
    display: inline-block;
}

.linkImage {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.linkTextContainer {
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
    color: black;
}

.linkIcon {
    width: 30px;
    height: 30px;
    padding: 15px;
    background-color: var(--ion-color-light);
}
