/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    width: 100%;
}

.alignRight {
    justify-content: flex-end;
}

.alignLeft {
    justify-content: flex-start;
}

.downloadContainer {
    background-color: transparent;
    border: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: black;
}

.download {
    margin: 8px;
    width: 28px;
    height: 28px;
}

.downloadTitle {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
}

.searchMessage {
    background-color: var(--secondary-color) !important;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px;
    width: 100%;
}

:dir(ltr) .leftMessageMenu {
    margin-left: auto;
}

:dir(rtl) .leftMessageMenu {
    margin-right: auto;
}

.rightMessageMenu {
    padding: 0px;
}

:dir(ltr) .rightMessageMenu {
    margin-right: auto;
}

:dir(rtl) .rightMessageMenu {
    margin-left: auto;
}

.messageContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.message {
    display: block;
    max-width: 80%;
    word-wrap: break-word;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
    padding: 8px;
}

.messageDeleted {
    font-style: italic;
}

.messageLink {
    max-height: 20%;
    max-width: 50%;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 8px;
}

.linkText {
    margin: 10px 0px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
}

.messageImage {
    display: block;
    max-height: 20%;
    max-width: 80%;
    overflow: visible;
}

.messageAudio {
    max-width: 80%;
    padding: 8px;
}

.image {
    max-height: 300px;
    max-width: 100%;
    padding: 8px;
}

.name {
    color: black;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 8px;
}

.date {
    color: black;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.name,
.date {
    display: inline-block;
}

.currentUser {
    background-color: var(--primary-color);
    border-radius: 20px 20px 0px 20px;
    position: relative;
}

:dir(ltr) .currentUser {
    text-align: end;
    margin-left: auto;
    margin-right: none;
}

:dir(rtl) .currentUser {
    text-align: start;
    margin-right: auto;
    margin-left: none;
}

.otherUser {
    background-color: white;
    border-radius: 20px 20px 20px 0px;
    position: relative;
}

:dir(ltr) .otherUser {
    text-align: start;
}

:dir(rtl) .otherUser {
    text-align: end;
}

.outerContainer {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}
.contextButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contextButtonText {
    color: black;
}

.contextButtonIcon {
    margin-right: 8px;
    color: black;
}

.reply {
    color: black;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    text-decoration: underline;
}

.replyWithLike {
    margin-top: 12px;
}

.replyWithoutLike {
    margin-top: 0px;
}

:dir(ltr) .rightReply {
    margin-left: auto;
    border-right: 1px dashed black;
}

:dir(rtl) .rightReply {
    margin-right: auto;
    border-left: 1px dashed black;
}

:dir(ltr) .leftReply {
    margin-right: auto;
    border-left: 1px dashed black;
    margin-left: 60px;
}

:dir(rtl) .leftReply {
    margin-left: auto;
    border-right: 1px dashed black;
    margin-right: 60px;
}

.avatarContainer {
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 0px 8px;
    min-width: 50px;
    min-height: 50px;
}

.fullHeightPopover {
    height: 100vh;
    width: 100vw;
}

.likeContainer {
    background-color: white;
    border-radius: 20px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    padding: 4px;
    bottom: -20px;
}

:dir(ltr) .likeContainerLeft {
    left: -5px;
}

:dir(rtl) .likeContainerLeft {
    right: -5px;
}

:dir(ltr) .likeContainerRight {
    left: -5px;
}

:dir(rtl) .likeContainerRight {
    right: -5px;
}

.likeIcon {
    color: var(--primary-color);
    margin: 0 5px;
}

.likeCount {
    font-family: Maven Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    text-align: start;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.messageParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    opacity: 0.5;
}

ion-popover::part(backdrop) {
    height: 100vh;
    width: 100vw;
}

@media (max-width: 1280px) {
    .messageActivity {
        max-width: 90%;
    }
}
