/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.dateSeparator {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
    justify-content: center;
    display: flex;
    margin: 10px;
}

.messages {
    background-color: #fff8b7;
    flex: 1;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
}

.messagesCommunity {
    background-color: #8bc4c4;
}

.currentUser,
.otherUser {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.otherUser {
    align-items: flex-start;
}

.loader {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 8px;
}

.currentSearchMessage {
    background-color: var(--secondary-color);
}

.no-messages {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
