.message {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    max-width: 80%;
    word-wrap: break-word;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.currentUser {
    background-color: var(--primary-color);
    border-radius: 20px 20px 0px 20px;
    text-align: right;
    margin-left: auto;
}

.otherUser {
    background-color: white;
    border-radius: 20px 20px 20px 0px;
    text-align: left;
    margin-right: auto;
}
