.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    width: 100%;
}

.alignRight {
    justify-content: flex-end;
}

.alignLeft {
    justify-content: flex-start;
}

.downloadContainer {
    background-color: transparent;
    border: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: black;
}

.download {
    margin: 8px;
    width: 28px;
    height: 28px;
}

.downloadTitle {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
}

.searchMessage {
    background-color: var(--secondary-color) !important;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px;
    width: 100%;
}

.leftMessageMenu {
    margin-left: auto;
}

.rightMessageMenu {
    padding: 0px;
    margin-right: auto;
}

.messageContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.message {
    display: block;
    max-width: 80%;
    word-wrap: break-word;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
    padding: 8px;
}

.messageLink {
    max-height: 20%;
    max-width: 50%;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 8px;
}

.linkText {
    margin: 10px 0px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
}

.messageImage {
    display: block;
    max-height: 20%;
    max-width: 80%;
}

.messageAudio {
    max-width: 80%;
    padding: 8px;
}

.image {
    max-height: 300px;
    max-width: 100%;
    padding: 8px;
}

.name {
    color: black;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-right: 8px;
}

.date {
    color: black;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.name,
.date {
    display: inline-block;
}

.currentUser {
    background-color: var(--primary-color);
    border-radius: 20px 20px 0px 20px;
    text-align: right;
    margin-left: auto;
}

.otherUser {
    background-color: white;
    border-radius: 20px 20px 20px 0px;
    text-align: left;
}

.outerContainer {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}
.reportButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reportButtonText {
    color: black;
}

.fullHeightPopover {
    height: 100vh;
    width: 100vw;
}

ion-popover::part(backdrop) {
    height: 100vh;
    width: 100vw;
}
