.dateSeparator {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
    justify-content: center;
    display: flex;
    margin: 10px;
}

.messages {
    flex: 1;
    height: 100%;
    width: 100%;
}

.currentUser,
.otherUser {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.otherUser {
    align-items: flex-start;
}
