.image {
    height: 220px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
}

.credit-view {
    background: white;
    width: 32px;
    height: 32px;
    opacity: 0.75;
    position: absolute;
    right: 0;
}

.credit {
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

.container {
    overflow-y: auto;
}

.primary-container {
    position: relative;
    color: #000;
    background-color: #fff;
    padding: 16px;
    border-radius: 20px 20px 0 0;
}

.title {
    font-family: Roboto;
    font-size: 37px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
}

.informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    padding: 16px 0;
}

.information-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.date {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    opacity: 0.5;
}

.change-language-button {
    background: none;
    color: black;
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-decoration: underline;
    margin-left: 8px;
}
