.adress-container {
    display: flex;
    align-items: center;
    margin-top: 2px;
    color: #737272;
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: start;
    gap: 4px;
}

.adress {
    color: #737272;
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: start;
}

.mapButton {
    background: none;
    text-transform: none;
    color: #737272;
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: start;
    text-decoration: underline;
}
