.bottomContainer {
    background-color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    margin-top: auto;
    right: 0;
}

.forgot {
    color: #000;
    text-decoration: underline;
    text-transform: uppercase;
}

.icons {
    background-color: #f8f9fa;
    height: 70px;
    width: 70px;
}

.main-content {
    height: 90%;
}

.title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}
