.container {
    padding: 0px 20px;
}

.information {
    color: #000;
    font-family: Maven Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.3px;
    text-align: center;
}

.separator {
    background-color: black;
    height: 1px;
    margin: 20px 0px;
    width: 100%;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.title {
    align-self: center;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 28px;
}
