<?xml version='1.0' encoding='utf-8'?>
<!--

   Copyright ou © ou Copr. Université de Lorraine, (2025)

   Direction du Numérique de l'Université de Lorraine - SIED

   Ce logiciel est un programme informatique servant à rendre accessible
   sur mobile et sur internet l'application ULEP (University Language
   Exchange Programme) aux étudiants et aux personnels des universités
   parties prenantes.

   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
   et respectant les principes de diffusion des logiciels libres. Vous pouvez
   utiliser, modifier et/ou redistribuer ce programme sous les conditions
   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
   sur le site "http://cecill.info".

   En contrepartie de l'accessibilité au code source et des droits de copie,
   de modification et de redistribution accordés par cette licence, il n'est
   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
   seule une responsabilité restreinte pèse sur l'auteur du programme, le
   titulaire des droits patrimoniaux et les concédants successifs.

   À cet égard, l'attention de l'utilisateur est attirée sur les risques
   associés au chargement, à l'utilisation, à la modification et/ou au
   développement et à la reproduction du logiciel par l'utilisateur étant
   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
   manipuler et qui le réserve donc à des développeurs et des professionnels
   avertis possédant des connaissances informatiques approfondies. Les
   utilisateurs sont donc invités à charger et à tester l'adéquation du
   logiciel à leurs besoins dans des conditions permettant d'assurer la
   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.

   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
   termes.

-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="${displayName}" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true" tools:replace="android:label">
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode" android:exported="true" android:label="${displayName}" android:launchMode="singleTask" android:name=".MainActivity" android:requestLegacyExternalStorage="true" android:theme="@style/AppTheme.NoActionBarLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="auth" android:scheme="ulep" />
            </intent-filter>
        </activity>
        <provider android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>
