.primary-button,
.tertiary-button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    padding: 10px 10px;
    text-transform: uppercase;
    width: 100%;
}
.primary-button {
    background-color: #000;
    color: white;
}

.tertiary-button {
    background-color: #fff;
    border: 1px solid black;
    color: black;
}

ion-button.confirm {
    --background: #000;
    --background-focused: #000;
    --border-radius: 5px;
    --color: #fff;
    height: 50px;
}

ion-button.confirm:active {
    --background: #a7a7a7;
}
