/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.primary-button,
.tertiary-button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 10px;
    text-transform: uppercase;
    width: 100%;
    gap: 10px;
}
.primary-button {
    background-color: #000;
    color: white;
}

.primary-button.ion-focused {
    background-color: #a7a7a7;
}

.center-button {
    align-self: center;
    max-width: 16em;
}

.primary-button.disabled {
    background-color: #a7a7a7;
}

.tertiary-button {
    background-color: #fff;
    border: 1px solid black;
    color: black;
}

.secondary-button {
    background: none;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    width: 100%;
}

.add-button {
    background-color: #eeccff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    position: fixed;
    bottom: 20px;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

[dir='ltr'] .add-button {
    right: 20px;
}

[dir='rtl'] .add-button {
    left: 20px;
}

.little-button {
    width: auto;
}

.add-button-icon {
    color: #c266ff;
    height: 400px;
    width: 400px;
}

.primary-selected-button {
    background-color: var(--primary-color);
    font-weight: bold;
}

.secondary-selected-button {
    background-color: var(--secondary-color);
    font-weight: bold;
}

ion-button.confirm {
    --background: #000;
    --background-focused: #000;
    --border-radius: 5px;
    --color: #fff;
    height: 50px;
}

ion-button.confirm:active {
    --background: #a7a7a7;
}
