/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.ios .content-wrapper {
    padding-bottom: env(safe-area-inset-bottom) !important;
    padding-top: env(safe-area-inset-top) !important;
}

.ion-page {
    background-color: white;
}

ion-tab-button {
    max-width: none;
}
ion-tab-button span {
    margin-top: 2px;
}

ion-tab-button.tab-selected span {
    color: white !important;
    background-color: black;
    border-radius: 12px;
    padding: 2px 4px;
}

.ion-background-yellow {
    --ion-background-color: #fdee66;
}

.background-image {
    position: absolute;
    transform: rotate(-60deg) scale(1.4) translateY(-10px) translateX(100px);
    z-index: 0;
}

.background-image-container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.white-centered-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    z-index: 1;
}

.ios .white-centered-div {
    min-height: 100%;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.home-card {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 100%;
}

.home-card-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.home-card-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
ion-radio::part(container) {
    width: 20px;
    height: 20px;

    border-radius: 8px;
    border: 2px solid #ddd;
}

ion-radio {
    --color: #000;
    --color-checked: #000;
}

.no-gutters {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}

.page {
    height: 100%;
}

.subcontent-container {
    color: #000;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    width: 100%;
}

.subcontent-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
}

.subcontent-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.title {
    align-self: center;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.modal.modal-side {
    --height: 100%;
    justify-content: flex-end;
    &.hybrid {
        --width: 100%;
    }
}

@media (min-width: 768px) {
    .subcontent-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0px 20px;
        overflow-y: auto;
        width: 50%;
    }

    .container {
        min-height: calc(100vh - 64px);
    }

    .subcontent-container {
        width: 50%;
    }

    .home-card {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 24px;
        width: 100%;
    }

    .page {
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: auto;
        padding: 64px 0px;
        width: 100%;
        z-index: 2;
    }

    .white-centered-div {
        min-height: 90vh;
    }
}
