@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

.ios .content-wrapper {
    padding-top: 25px;
}

.ion-page {
    background-color: white;
}

.ion-background-yellow {
    --ion-background-color: #fdee66;
}

.background-image {
    position: absolute;
    transform: rotate(-60deg) scale(1.4) translateY(-10px) translateX(100px);
    z-index: 0;
}

.background-image-container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.white-centered-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    z-index: 1;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-gutters {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}

.page {
    height: 100%;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.title {
    align-self: center;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

@media (min-width: 768px) {
    .container {
        min-height: calc(100vh - 64px);
    }

    .page {
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: auto;
        padding-top: 64px;
        width: 100%;
        z-index: 2;
    }
}
