@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

.ios .content-wrapper {
    padding-top: 25px;
}

.ion-page {
    background-color: white;
}

.ion-background-yellow {
    --ion-background-color: #fdee66;
}

.background-image {
    position: absolute;
    transform: rotate(-60deg) scale(1.4) translateY(-10px) translateX(100px);
    z-index: 0;
}

.white-centered-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    z-index: 1;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-gutters {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}

.page {
    height: 100%;
}

.yellow-background {
    background-color: #fdee66;
}

@media (min-width: 768px) {
    .container {
        min-height: calc(100vh - 64px);
    }

    .page {
        align-items: center;
        background-color: #fdee66; /* TODO: change this later*/
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: auto;
        padding-top: 64px;
        width: 100%;
        z-index: 2;
    }
}
