@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

.ios .content-wrapper {
    padding-top: 25px;
}

.ion-page {
    background-color: white;
}

.background-image {
    position: absolute;
    transform: rotate(-60deg) scale(1.4) translateY(-10px) translateX(100px);
    z-index: 0;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.no-gutters {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}

.yellow-background {
    background-color: #fdee66;
}
