@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.ios .content-wrapper {
    padding-bottom: env(safe-area-inset-bottom) !important;
    padding-top: env(safe-area-inset-top) !important;
}

.ion-page {
    background-color: white;
}

ion-tab-button {
    max-width: none;
}
ion-tab-button span {
    margin-top: 2px;
}

ion-tab-button.tab-selected span {
    color: white !important;
    background-color: black;
    border-radius: 12px;
    padding: 2px 4px;
}

.ion-background-yellow {
    --ion-background-color: #fdee66;
}

.background-image {
    position: absolute;
    transform: rotate(-60deg) scale(1.4) translateY(-10px) translateX(100px);
    z-index: 0;
}

.background-image-container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.white-centered-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    z-index: 1;
}

.ios .white-centered-div {
    min-height: 100%;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.home-card {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.home-card-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
ion-radio::part(container) {
    width: 20px;
    height: 20px;

    border-radius: 8px;
    border: 2px solid #ddd;
}

ion-radio {
    --color: #000;
    --color-checked: #000;
}

.no-gutters {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}

.page {
    height: 100%;
}

.subcontent-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    width: 50%;
}

.subcontent-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
}

.subcontent-title {
    color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.title {
    align-self: center;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

@media (min-width: 768px) {
    .container {
        min-height: calc(100vh - 64px);
    }

    .home-card {
        padding: 20px;
    }

    .page {
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: auto;
        padding: 64px 0px;
        width: 100%;
        z-index: 2;
    }

    .white-centered-div {
        min-height: 90vh;
    }
}
