ion-input.text {
    --background: #f2f4f7;
    --border-radius: 5px;
    --color: #000;
    --padding-start: 16px;
    --placeholder-color: #000;
    --placeholder-opacity: 0.8;
    --highlight-color-focused: '#000';
    border-radius: 5px;
    height: 50px;
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    margin-top: 8px;
}

.input-label {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
