/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.no-margin-top {
    margin-top: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-margin-left {
    margin-left: 0px;
}

.no-margin-right {
    margin-right: 0px;
}

.no-margin-vertical {
    margin: 0px 0px 0px 0px;
}

.no-margin-right {
    margin: 0px 0px 0px 0px;
}

.small-margin {
    margin: 4px;
}

.small-margin-top {
    margin-top: 4px;
}

.small-margin-bottom {
    margin-bottom: 4px;
}

.small-margin-left {
    margin-left: 4px;
}

.small-margin-right {
    margin-right: 4px;
}

.small-margin-vertical {
    margin: 4px 0px 4px 0px;
}

.small-margin-right {
    margin: 0px 4px 0px 4px;
}

.margin {
    margin: 8px;
}

.margin-top {
    margin-top: 8px;
}

.margin-bottom {
    margin-bottom: 8px;
}

.margin-left {
    margin-left: 8px;
}

.margin-right {
    margin-right: 8px;
}

.margin-vertical {
    margin: 8px 0px 8px 0px;
}

.margin-right {
    margin: 0px 8px 0px 8px;
}

.large-margin {
    margin: 16px;
}

.large-margin-top {
    margin-top: 16px;
}

.large-margin-bottom {
    margin-bottom: 16px;
}

.large-margin-left {
    margin-left: 16px;
}

.large-margin-right {
    margin-right: 16px;
}

.large-margin-vertical {
    margin: 16px 0px 16px 0px;
}

.large-margin-right {
    margin: 0px 16px 0px 16px;
}

.extra-large-margin {
    margin: 40px;
}

.extra-large-margin-top {
    margin-top: 40px;
}

.extra-large-margin-bottom {
    margin-bottom: 40px;
}

.extra-large-margin-left {
    margin-left: 40px;
}

.extra-large-margin-right {
    margin-right: 40px;
}

.extra-large-margin-vertical {
    margin: 40px 0px 40px 0px;
}

.extra-large-margin-right {
    margin: 0px 40px 0px 40px;
}
