.container {
    width: 100%;
    height: 100%;
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        #jitsiMeeting-1 {
            width: 100%;
            height: 100%;
        }
    }
}
