.container {
    color: #000;
    padding: 20px;
    .title {
        text-align: left;
        margin-bottom: 4px;
    }
    .subtitle {
        margin-bottom: 32px;
        margin-top: 0;
    }
    .intro {
        margin-bottom: 32px;
    }
    p {
        line-height: 24px;
    }
    .sections {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .section {
            display: flex;
            gap: 11px;
            .icon {
                width: 40px;
                height: 40px;
            }
            p {
                flex: 1;
                margin: 0;
            }
            .link {
                color: #000;
                text-decoration: underline;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}
