.container {
    display: flex;
    border-bottom: 1px solid #000;
    height: 50px;
    .menuItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        flex: 1;
        padding-top: 8px;
        padding-bottom: 2px;
        &:hover {
            background-color: #f0f0f0;
            cursor: pointer;
        }
        &.active {
            background-color: #000;
            p {
                color: #fff;
            }
        }
        .icon {
            height: 20px;
            object-fit: contain;
        }
        p {
            color: #000;
            font-family: Maven Pro;
            font-size: 9px;
            font-weight: 400;
            line-height: 16px;
            text-align: center;
            margin: 0;
        }
    }
}
