.menuNew {
    --offset-x: 50px;
    --offset-y: -50px;
}

.container {
    align-items: center;
    border-right: 2px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 100%;
    max-width: 260px;
}

.image {
    height: 24px;
    width: 24px;
}

.line {
    align-items: center;
    background: none;
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.report-container {
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    margin-top: auto;
    width: 100%;
}

.separator {
    border-bottom: 2px solid #e0e0e0;
    width: 100%;
    margin: 18px 0;
}

.title {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 20px;
    }
}
