.container {
    align-items: center;
    border-right: 2px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 100%;
    max-width: 260px;
}

.line {
    align-items: center;
    background: none;
    color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    width: 100%;
}

.title {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 20px;
    }
}
