.bottom-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: auto;
}

.forgot {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.icons {
    background-color: #f8f9fa;
    height: 70px;
    width: 70px;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

@media (min-width: 768px) {
    .main-content {
        padding: 0 60px;
    }
    .bottom-container {
        padding: 0 120px;
    }
}
