/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.bottom-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.error-message {
    color: #f60c36;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    margin: 0px 0px 20px 0px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.icons {
    background-color: #f8f9fa;
    height: 70px;
    width: 70px;
    max-height: 70px;
    max-width: 70px;
    min-height: 70px;
    min-width: 70px;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    padding-top: 60px;
    padding-bottom: 80px;
}

.separator {
    background-color: rgba(0, 0, 0, 0.25);
    height: 1px;
    min-height: 1px;
    margin: 30px 0px;
    width: 100%;
}

.sso-text {
    color: #000;
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.update-instance {
    padding: 0px 0px 20px 0px;
    text-decoration: underline;
}

.native-platform {
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .main-content {
        padding: 0 30px;
        max-width: 600px;
        margin: 0 auto;
    }
}
