.bottom-container {
    background-color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    margin-top: auto;
    right: 0;
}

.forgot {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.icons {
    background-color: #f8f9fa;
    height: 70px;
    width: 70px;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.subtitle {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.web-bottom-container-padding {
    padding: 0 120px;
}

.web-main-content-padding {
    padding: 0 60px;
}
