.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

.progressBar {
    margin-bottom: 25px;
}

.progressBar > div {
    position: absolute;
    top: 0;
    left: 0;
}

.progressBar p{
    text-align: center;
}

.progressBar .title{
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 6px;
}

.progressBar .text{
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
}