.container {
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.image {
    width: 100%;
    max-width: 225px;
}

.titleContainer p {
    margin-top: 20px !important;
    margin-bottom: 0;
}

.titleContainer h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.descriptionContainer {
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 40px;
}

.descriptionContainer .description {
    margin-top: 0;
    margin-bottom: 0;
}

.buttonsContainer {
    width: 100%;
}