.audioLine {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.button {
    background: none;
    color: white;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.progressBar {
    height: 10px;
    width: 100%;
    min-width: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress {
    height: 100%;
    background-color: black;
    transition: width 0.01s linear;
}
