.availability-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.availability-day,
.availability-status {
    font-family: 'Maven Pro';
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
}

.availability-day {
    font-weight: 400;
}

.availability-status {
    font-weight: 500;
    margin-left: 8px;
}

.container {
    align-items: center;
    background-color: #f2f4f7;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: 60px;
    padding: 0px 20px;
    width: 100%;
}

.dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
