.container {
    align-items: center;
    color: #888383;
    display: flex;
    flex-direction: row;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.3px;
    margin-bottom: 16px;
}

.image {
    align-self: center;
}

.checkbox-unselected,
.checkbox-selected {
    align-items: center;
    color: #888383;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    min-width: 20px;
    height: 20px;
    justify-content: center;
    margin-right: 16px;
    width: 20px;
}
