.avatar {
    width: 38px;
    height: 38px;
    object-fit: cover;
}

.avatarView {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 70px;
    justify-content: center;
    margin: 0 auto;
    width: 70px;
}
