.container {
    display: block;
}

.item {
    width: 100%;
    align-items: center;
    align-self: flex-start;
    flex-direction: column;
    font-family: 'Twemoji Country Flags', 'Segoe UI Emoji', 'Maven Pro', sans-serif;
    background: #f2f4f7;
    border-radius: 5px;
    min-height: 50px;
    position: relative;
    width: '100%';
    border-width: 0px;
    --ion-background-color: transparent;
    --inner-padding-end: 0 !important;
}

.select {
    padding: 0 15px;
}

.title {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

ion-popover {
    max-height: 50%;
}

@media (min-width: 768px) {
    .container {
        margin-top: 10px;
    }
}
