.button,
.item {
    align-items: center;
    background: none;
    display: flex;
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    justify-content: space-between;
    line-height: 20px;
    width: 100%;
    z-index: 99;
}

.container {
    align-items: center;
    align-self: stretch;
    background: #f2f4f7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 50px;
    padding: 12px 16px;
    position: relative;
    width: '100%';
}

.item {
    padding: 0px 12px;
}

.menu {
    background: #f2f4f7;
    border-radius: 5px;
    max-height: 150px;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.submenu {
    padding: 5px;
}

.title {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
