.container {
    display: inline-flex;
    background-color: black;
    padding: 4px 5px;
    border-radius: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text {
    color: white;
    font-family: Maven Pro;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: start;
}
