.container {
    border-radius: 5px;
    --box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.1);
}

.list {
    padding-top: 0;
    padding-bottom: 0;
}

.item {
    --inner-padding-start: 20px;
    --inner-padding-end: 20px;
    --padding-start: 0;
    --padding-end: 0;
    --width: max-content;
    text-align: center;
}
