.sender {
    min-height: 20px;
    min-width: 20px;
}

.recorder {
    min-height: 20px;
    min-width: 20px;
    filter: invert(1);
}

.sender-button {
    align-items: center;
    background: none;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    min-height: 44px;
    max-height: 44px;
    min-width: 44px;
    max-width: 44px;
}
.container {
    position: relative;
}

.timer {
    position: absolute;
    top: -20px; /* Ajustez cette valeur selon vos besoins */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    z-index: 1;
}
