.main-content {
    align-items: center;
    background-color: #fdee66;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 20 0px;
}

.web-content {
    display: flex;
    height: 100%;
}

@media (min-width: 768px) {
    .main-content {
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
        padding: 0px 60px;
    }

    .web-content {
        background-color: #b6aa43;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 64px;
    }
}
