/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

.area-text {
    background: #f2f4f7;
    border-radius: 5px;
    border: none;
    height: 125px;
    justify-content: flex-start;
    outline: none;
    resize: none;
    vertical-align: top;
    width: 100%;
}

.area-text-text,
.area-text-error {
    border-radius: 5px;
    color: #000;
    height: 125px;
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    padding: 16px;
}

.area-text-error {
    background-color: #ffeef1;
    border: 1px solid #f60c36;
}

.area-text-text {
    background-color: #f2f4f7;
    border-width: 0px;
}

.container {
    width: 100%;
}

.eye-button {
    background: none;
    border: none;
}

.input-text,
.input-error {
    border-radius: 5px;
    color: #000;
    height: 50px;
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
}

.input-error {
    background-color: #ffeef1;
    border: 1px solid #f60c36;
}

.input-text {
    background-color: #f2f4f7;
    border-width: 0px;
}

.input-text:focus-within {
    border: 1px solid #000;
}

.input-wrapper {
    --ion-background-color: transparent;
}

.area-text-wrapper {
    border-radius: 5px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
}

.input {
    color: #000;
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    background-color: transparent;
    border: none;
    width: 100%;
    min-height: 50px;
}

.input input {
    width: 100%;
}

.limitContainer {
    display: flex;
    width: 100%;
}

.limit {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: end;
    width: 100%;
}

input:focus {
    outline: none;
}

.input-label {
    color: #000;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.input-label-error {
    color: #f60c36;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    margin: 0px;
}
