:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #fdee66;

    --phone-breakpoint: 480px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:wght@400;500;600;700&display=swap");

html,
body {
    max-width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
    position: relative;
    margin: 0;
}

body {
    background-color: var(--color-primary);
    font-family: "Roboto", sans-serif;
}

body > * {
    --max-width: 600px;

    max-width: var(--max-width);
    margin: 0 auto;
}

body::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;

    width: 100dvw;
    height: 100dvh;
}

p {
    margin: 0;
    font-family: "Maven Pro", sans-serif;
}

#kc-card {
    background-color: var(--color-white);
    border-radius: 10px;
    margin-top: 24px;
    padding: 24px;
    z-index: 20;
}

#kc-header-wrapper {
    display: none;
}

#kc-content {
    max-width: 600px;
    margin: auto;
}

.logo-container {
    display: inline;
}

.logo-background {
    margin: auto;
    margin-top: 30px;

    border-radius: 10px;
    width: fit-content;
}

.logo {
    height: 100px;
    width: 200px;
}

label {
    font-weight: 900;
}

span {
    font-size: 14px;
}

input[type="checkbox"] + label {
    font-weight: 400;
}

h1 {
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 1.75rem;
    color: var(--color-black);
}

form {
    color: var(--color-black);
    margin-top: 50px;
}

input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-family: "Maven Pro", sans-serif;

    padding: 0.625rem 0.75rem;
    border-radius: 6px;

    border: 1px solid var(--color-black);
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    margin-right: 8px;
    cursor: pointer;
    border: 1px solid var(--color-primary);
}

input[type="submit"] {
    background-color: var(--color-black);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
    padding: 0.625rem 0.75rem;
}

input[type="submit"]:disabled {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

button {
    border: none;
    padding: 0.625rem 0.75rem;
}

.background-image {
    pointer-events: none;
    position: absolute;
    transform: rotate(-50deg) scale(1.4) translateY(0px) translateX(40px);
    z-index: -1;
}

a {
    color: var(--color-black);
}

.form-group-container {
    margin-bottom: 20px;
}

.label-container {
    margin-bottom: 0.45rem;
    font-size: 1.125rem;
}

.input-container > input {
    font-size: 1rem;
}

.submit-container {
    margin: 25px;
    margin-top: 50px;
}

.error-message {
    color: var(--color-yellow);
    font-size: 0.875rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.error-message > img {
    margin-right: 0.5rem;
}

.form-inputs {
    margin-top: 24px;
}

.show-password {
    align-items: center;
    display: flex;
    margin-top: 4px;
}
