/**
 *
 *   Copyright ou © ou Copr. Université de Lorraine, (2025)
 *
 *   Direction du Numérique de l'Université de Lorraine - SIED
 *
 *   Ce logiciel est un programme informatique servant à rendre accessible
 *   sur mobile et sur internet l'application ULEP (University Language
 *   Exchange Programme) aux étudiants et aux personnels des universités
 *   parties prenantes.
 *
 *   Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 *   et respectant les principes de diffusion des logiciels libres. Vous pouvez
 *   utiliser, modifier et/ou redistribuer ce programme sous les conditions
 *   de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 *   sur le site "http://cecill.info".
 *
 *   En contrepartie de l'accessibilité au code source et des droits de copie,
 *   de modification et de redistribution accordés par cette licence, il n'est
 *   offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 *   seule une responsabilité restreinte pèse sur l'auteur du programme, le
 *   titulaire des droits patrimoniaux et les concédants successifs.
 *
 *   À cet égard, l'attention de l'utilisateur est attirée sur les risques
 *   associés au chargement, à l'utilisation, à la modification et/ou au
 *   développement et à la reproduction du logiciel par l'utilisateur étant
 *   donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 *   manipuler et qui le réserve donc à des développeurs et des professionnels
 *   avertis possédant des connaissances informatiques approfondies. Les
 *   utilisateurs sont donc invités à charger et à tester l'adéquation du
 *   logiciel à leurs besoins dans des conditions permettant d'assurer la
 *   sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 *   à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 *   Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 *   pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 *   termes.
 *
 */

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #fdee66;

  --phone-breakpoint: 480px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:wght@400;500;600;700&display=swap');

html,
body {
  max-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  font-size: 16px;
}

body {
  background-color: var(--color-primary);
  font-family: 'Roboto', sans-serif;
}

body > * {
  --max-width: 600px;

  max-width: var(--max-width);
  margin: 0 auto;
}

body::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;

  width: 100dvw;
  height: 100dvh;
}

p {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

#kc-card {
  background-color: var(--color-white);
  border-radius: 10px;
  margin-top: 24px;
  padding: 24px;
  z-index: 20;
}

#kc-header-wrapper {
  display: none;
}

#kc-content {
  max-width: 600px;
  margin: auto;
}

.logo-container {
  display: inline;
}

.logo-background {
  margin: auto;
  margin-top: 30px;

  border-radius: 10px;
  width: fit-content;
}

.logo {
  height: 100px;
  width: 200px;
}

label {
  font-weight: 900;
}

span {
  font-size: 14px;
}

input[type='checkbox'] + label {
  font-weight: 400;
}

h1 {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 1.75rem;
  color: var(--color-black);
}

form {
  color: var(--color-black);
  margin-top: 50px;
}

input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;

  padding: 0.625rem 0.75rem;
  border-radius: 6px;

  border: 1px solid var(--color-black);
}

input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
  margin-right: 8px;
  cursor: pointer;
  border: 1px solid var(--color-primary);
}

input[type='submit'] {
  background-color: var(--color-black);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-white);
  padding: 0.625rem 0.75rem;
}

input[type='submit']:disabled {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

button {
  border: none;
  padding: 0.625rem 0.75rem;
}

.background-image {
  pointer-events: none;
  position: absolute;
  transform: rotate(-50deg) scale(1.4) translateY(0px) translateX(40px);
  z-index: -1;
}

a {
  color: var(--color-black);
}

.form-group-container {
  margin-bottom: 20px;
}

.label-container {
  margin-bottom: 0.45rem;
  font-size: 1.125rem;
}

.input-container > input {
  font-size: 1rem;
}

.submit-container {
  margin: 25px;
  margin-top: 50px;
}

.error-message {
  color: var(--color-yellow);
  font-size: 0.875rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.error-message > img {
  margin-right: 0.5rem;
}

.form-inputs {
  margin-top: 24px;
}

.show-password {
  align-items: center;
  display: flex;
  margin-top: 4px;
}

.show-password span {
  margin-top: 5px;
}
