name: Mirror GitHub ULEP from The Tribe to UL

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.MIRROR_TOKEN }}
      - name: Configure Git
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"

      - name: Add mirror remote and push
        run: |
          git remote add mirror github.com/univlorraine/ulep.git                  
          rm -rf .github/workflows
          git commit -a -m "Remove github workflows"
          git push https://${{ secrets.MIRROR_TOKEN }}@github.com/univlorraine/ulep.git main
