name: Mirror GitHub ULEP from The Tribe to UL

on:
    push:
        branches:
            - feat/mirror-to-github-public

jobs:
    mirror:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source repository
              uses: actions/checkout@v3

            - name: Configure Git
              run: |
                  git config --global user.name "GitHub Action"
                  git config --global user.email "action@github.com"

            - name: Add mirror remote and push
              env:
                  MIRROR_TOKEN: ${{ secrets.MIRROR_TOKEN }}
              run: |
                  git remote add mirror https://$MIRROR_TOKEN@github.com/univlorraine/ulep.git
                  git add .
                  git commit -m "initial commit"
                  git push mirror main
