name: Mirror GitHub ULEP from The Tribe to UL

on:
  push:
    branches:
      - main

jobs:
  mirror:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repository
        uses: actions/checkout@v3
      - name: Configure Git
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"

      - name: Add mirror remote and push
        run: |
          git config --local --unset-all "http.https://github.com/.extraheader"
          git remote add mirror https://x-access-token:${{ secrets.MIRROR_TOKEN }}@github.com/univlorraine/ulep.git                  
          rm -rf .github/workflows
          git commit -a -m "Remove github workflows"
          git pull mirror main
          git push mirror main
